.selected {
  border: 2px solid #007bff;
  opacity: 0.4;
}
.navigation div {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: bold; /* Make it bold */
}
.per-hour-wrapper {
  display: flex; /* Use flexbox for horizontal layout */
  flex-wrap: wrap; /* Allow wrapping if there are too many items */
  gap: 10px; /* Add space between items */
}

.per-hour-wrapper-item {
  flex: 0 0 calc(30%); /* Each item takes up half the width minus the gap */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.disabled-div {
  display: none;
}
.card-loading {
  // display: flex;                  /* Enable flexbox on the card */
  justify-content: center;        /* Center horizontally */
  align-items: center;            /* Center vertically */
  // position: relative;             /* To make the card a positioned container */
  height: 500px;                  /* Optional: Set a height for the card */
}

.loader {
  overflow: hidden;
  position: relative;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.wheel {
  fill: rgb(128, 128, 128);
  font-size: 100px;
  width: 190px;
  height: 190px;
  border-radius: 6em;
  text-align: center;
  animation: rolling 1s linear infinite;
}

#rim {
  fill: rgb(126, 126, 126);
}

#tire {
  fill: rgb(55, 55, 55);
}

.road {
  position: absolute;
  margin-top: 5px;
  width: 100%;
  height: 5px;
  border-radius: 5em;
  background-color: rgb(55, 55, 55);
  animation: road-move 2s linear infinite;
}

@keyframes rolling {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes road-move {
  from {
    transform: translateX(-140%);
  }

  to {
    transform: translateX(100%);
  }
}

.detail {
  overflow-x: auto;
}

.round {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
