<div class="col-lg-12">
  <div class="card-header">
    <strong><i class="fa fa-bars"></i>&nbsp;Master Data Work Day</strong>
  </div>
  <div class="card card-loading" [ngClass]="{'disabled-div': !Loading}">
    <div class="loader">
      <svg
        xml:space="preserve"
        viewBox="0 0 254.532 254.532"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
        id="Capa_1"
        version="1.1"
        class="wheel"
      >
        <g>
          <path
            d="M127.267,0C57.092,0,0,57.091,0,127.266s57.092,127.266,127.267,127.266c70.174,0,127.266-57.091,127.266-127.266
            S197.44,0,127.267,0z M127.267,217.656c-49.922,0-90.391-40.468-90.391-90.39s40.469-90.39,90.391-90.39
            c49.92,0,90.39,40.468,90.39,90.39S177.186,217.656,127.267,217.656z"
            id="tire"
          ></path>
        </g>
        <g>
          <path
            d="M127.267,48.578c-43.39,0-78.689,35.299-78.689,78.688c0,43.389,35.3,78.688,78.689,78.688
            c43.389,0,78.688-35.299,78.688-78.688C205.955,83.877,170.655,48.578,127.267,48.578z M195.878,122.249h-38.18
            c-0.78-4.825-2.686-9.275-5.435-13.079l26.954-26.954C188.679,93.112,194.771,106.996,195.878,122.249z M132.204,58.648
            c15.244,1.087,29.123,7.156,40.025,16.591l-26.948,26.949c-3.804-2.748-8.253-4.653-13.077-5.433V58.648z M122.329,58.648v38.106
            c-4.824,0.78-9.274,2.685-13.078,5.434L82.302,75.24C93.204,65.805,107.085,59.735,122.329,58.648z M75.313,82.217l26.955,26.954
            c-2.749,3.803-4.654,8.253-5.434,13.077h-38.18C59.761,106.996,65.853,93.113,75.313,82.217z M58.643,132.123h38.192
            c0.779,4.824,2.685,9.274,5.434,13.078l-27.029,27.029C65.788,161.308,59.714,147.398,58.643,132.123z M122.329,195.884
            c-15.285-1.09-29.197-7.188-40.113-16.666l27.035-27.035c3.804,2.749,8.254,4.654,13.078,5.434V195.884z M122.329,147.459v0.072
            c-2.131-0.518-4.131-1.36-5.953-2.474l0.047-0.047c-2.85-1.738-5.244-4.132-6.982-6.983l-0.046,0.046
            c-1.114-1.822-1.956-3.821-2.474-5.952h0.071c-0.385-1.585-0.611-3.233-0.611-4.937c0-1.704,0.227-3.352,0.611-4.937h-0.071
            c0.518-2.13,1.359-4.129,2.474-5.951l0.046,0.046c1.738-2.85,4.133-5.245,6.982-6.982l-0.047-0.047
            c1.822-1.114,3.822-1.957,5.953-2.474v0.072c1.586-0.385,3.233-0.612,4.938-0.612s3.352,0.227,4.938,0.612v-0.072
            c2.131,0.518,4.13,1.359,5.951,2.473l-0.047,0.047c2.851,1.737,5.245,4.132,6.983,6.982l0.046-0.046
            c1.115,1.822,1.957,3.822,2.475,5.953h-0.071c0.385,1.585,0.611,3.233,0.611,4.937c0,1.704-0.227,3.352-0.611,4.937h0.071
            c-0.518,2.131-1.359,4.131-2.475,5.953l-0.046-0.046c-1.738,2.85-4.133,5.244-6.983,6.982l0.047,0.046
            c-1.821,1.114-3.82,1.956-5.951,2.474v-0.072c-1.586,0.385-3.233,0.612-4.938,0.612S123.915,147.845,122.329,147.459z
            M132.204,195.884v-38.267c4.824-0.78,9.273-2.685,13.077-5.433l27.034,27.034C161.4,188.696,147.488,194.794,132.204,195.884z
            M179.292,172.23l-27.028-27.028c2.749-3.804,4.654-8.254,5.435-13.079h38.191C194.818,147.398,188.745,161.308,179.292,172.23z"
            id="rim"
          ></path>
        </g>
      </svg>
      <div class="road"></div>
    </div>
    
  </div>
  <div [ngClass]="{'disabled-div': Loading}" class="card">
    <div class="card-body d-flex round">
      <!-- Calendar Table -->
      <div class="calendar-table" style="min-width: 20%; overflow: auto; white-space: nowrap;">
        <div class="navigation d-flex justify-content-between align-items-center mb-3">
          <button type="button" class="btn btn-primary" (click)="previousMonth()">Previous</button>
          <div  align="center" class="mx-auto" style="min-width: 250px; max-width: 250px;">
            <strong>{{ calendar.year }} - {{ monthNames[calendar.month - 1] }}</strong>
          </div>
          <button type="button" class="btn btn-primary" (click)="nextMonth()">Next</button>
        </div>       
        <table class="table table-bordered table-striped table-md">
          <thead align="center">
            <tr>
              <th style="width: 50px;">Mo</th>
              <th style="width: 50px;">Tu</th>
              <th style="width: 50px;">We</th>
              <th style="width: 50px;">Th</th>
              <th style="width: 50px;">Fr</th>
              <th style="width: 50px;">Sa</th>
              <th style="width: 50px;">Su</th>
            </tr>
          </thead>
          <tbody align="center" *ngIf="readytoload"> 
            <tr *ngFor="let week of calendar.days; let i = index">
              <td *ngFor="let day of week"
              style="cursor: pointer;" 
              [ngStyle]="{
                'background-color': 
                  (day.detail.off === 1  && day.weekend && day.detail.off === 1 && day.detail.iwd_SHIFT_1 === 0 && day.detail.iwd_SHIFT_2 === 0 && day.detail.iwd_SHIFT_3 === 0 && day.detail.iot_TL_1 === 0 && day.detail.iot_TL_2 === 0 && day.detail.iot_TL_3 === 0 && day.detail.iot_TT_1 === 0 && day.detail.iot_TT_2 === 0 && day.detail.iot_TT_3 === 0) ? 'red' : 
                  (day.detail.off === 1 || day.detail.semi_OFF === 1) && (day.detail.iot_TL_1 === 1 || day.detail.iot_TL_2 === 1 || day.detail.iot_TL_3 === 1 || day.detail.iot_TT_1 === 1 || day.detail.iot_TT_2 === 1 || day.detail.iot_TT_3 === 1)  ? '#00ff73' : 
                  (day.detail.off === 1)  ? 'red' : 
                  day.detail.semi_OFF === 1 ? 'yellow' : 'inherit', 
                  'color': 
                  (day.detail.off === 1  && day.weekend && day.detail.off === 1 && day.detail.iwd_SHIFT_1 === 0 && day.detail.iwd_SHIFT_2 === 0 && day.detail.iwd_SHIFT_3 === 0 && day.detail.iot_TL_1 === 0 && day.detail.iot_TL_2 === 0 && day.detail.iot_TL_3 === 0 && day.detail.iot_TT_1 === 0 && day.detail.iot_TT_2 === 0 && day.detail.iot_TT_3 === 0) || (day.detail.off === 1 && day.detail.semi_OFF === 0 && day.detail.iwd_SHIFT_1 === 0 && day.detail.iwd_SHIFT_2 === 0 && day.detail.iwd_SHIFT_3 === 0 && day.detail.iot_TL_1 === 0 && day.detail.iot_TL_2 === 0 && day.detail.iot_TL_3 === 0 && day.detail.iot_TT_1 === 0 && day.detail.iot_TT_2 === 0 && day.detail.iot_TT_3 === 0)   ? 'white':  
                  (day.detail.off === 1 && !(day.detail.iot_TL_1 === 1 || day.detail.iot_TL_2 === 1 || day.detail.iot_TL_3 === 1 || day.detail.iot_TT_1 === 1 || day.detail.iot_TT_2 === 1 || day.detail.iot_TT_3 === 1) )  ? 'white' : 'inherit'
              }" 
              [ngClass]="{ 'selected': day.days === selectedDay.days && day.month=== selectedDay.month  }" 
              (click)="selectDay(day)" >
            {{ day.days }}
            <div *ngFor="let event of getEventsForDay(day.days)">{{ event.title }}</div>
          </td>               
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mb-2">
          <div class="legend-item d-flex align-items-center mx-3 ">
            <div class="legend-color" style="width: 15px; height: 15px; background-color: red; margin-right: 5px;"></div>
            <span>Off</span>
          </div>
          <div class="legend-item d-flex align-items-center mx-3 ">
            <div class="legend-color" style="width: 15px; height: 15px; background-color: #00ff73; margin-right: 5px;"></div>
            <span>Overtime</span>
          </div>
          <div class="legend-item d-flex align-items-center mx-3 ">
            <div class="legend-color" style="width: 15px; height: 15px; background-color: yellow; margin-right: 5px;"></div>
            <span>Semi-Off</span>
          </div>
        </div>
      </div>
      <!-- <h2 style="min-width: 48%; padding-left: 16px;" *ngIf="selectedDay.days === null">Please Select Date</h2> -->
      
      <!-- Detail Section -->
      <div  class="event-details ml-4 "style="min-width: 48%; max-height: 400px; overflow: auto; white-space: nowrap;">
        <div class="detail">
          <h2 style="min-width: 48%; padding-left: 21px;" *ngIf="selectedDay.days === null">Please Select Date</h2>
          <div *ngIf="selectedDay.days !== null" >
          <h3>{{title}}</h3>
            <h4>Details for {{newEvent.title}} </h4>
            <tabset #tabset>
        
              <!-- Tab 1: Summary -->
              <tab style="width: 680px; height: 250px; overflow: auto; white-space: nowrap;" heading="Summary">
                <div class="form-group">
                  <div *ngIf="(!isSaturday&& !weekend) ||(weekend && isSaturday) ">
                    <h4>Reason of deactive shift</h4>
                    <ul>
                      <li>Shift 3: {{ shift1Reasons[0] ? shift1Reasons[0].description : '-' }}</li>
                      <li>Shift 1: {{ shift1Reasons[1] ? shift1Reasons[1].description : '-' }}</li>
                      <li>Shift 2: {{ shift1Reasons[2] ? shift1Reasons[2].description : '-' }}</li>
                    </ul>
                  </div>
                  <div *ngIf="overTimeSwitch">
                    <h4>Reason of deactive shift of overtime TT</h4>
                    <ul>
                      <li>Shift 3: {{ ttReasons[0] ? ttReasons[0].description : '-' }}</li>
                      <li>Shift 1: {{ ttReasons[1] ? ttReasons[1].description : '-' }}</li>
                      <li>Shift 2: {{ ttReasons[2] ? ttReasons[2].description : '-' }}</li>
                    </ul>                
                    <h4>Reason of deactive shift of overtime TL</h4>
                    <ul>
                      <li>Shift 3: {{ tlReasons[0] ? tlReasons[0].description : '-' }}</li>
                      <li>Shift 1: {{ tlReasons[1] ? tlReasons[1].description : '-' }}</li>
                      <li>Shift 2: {{ tlReasons[2] ? tlReasons[2].description : '-' }}</li>
                    </ul>
                  </div>
                </div>
              </tab>
        
              <!-- Tab 2: Shift -->
              <tab style="width: 680px; height: 250px; overflow: auto; white-space: nowrap;" heading="Shift" >
                <div class="form-group">
                  <!-- OverTime Switch -->
                  <div class="form-group d-flex">
                    <div class="mx-3">
                        <button type="button" class="btn btn-primary " [disabled]="overTimeSwitch || selectedDay.detail.off === 0" (click)="overtimeOn()">OverTime</button>
                    </div>
                    <div class="mx-3">
                        <button type="button" class="btn btn-primary " [disabled]="(selectedDay.detail.off === 1  && !weekend && !overTimeSwitch) || (weekend && !overTimeSwitch)" (click)="OffWorkday()">Off</button>
                    </div>
                    <div class="mx-3">
                        <button type="button" class="btn btn-primary " [disabled]="(selectedDay.detail.off === 0 && !overTimeSwitch) || (weekend)" (click)="OnWorkday()">On</button>
                    </div>
                  </div>
                  
  
                  <!-- Shift 3 -->
                  <div class="form-group" *ngIf="(!isSaturday&& !weekend) ||(weekend && isSaturday) ">
                    <div class="per-hour-wrapper">
                      <h4 style="min-width: 70px;">Shift 3</h4>
                      <label class="switch switch-label switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="shift1Switches[0]" (ngModelChange)="handleShiftChange(0,'SHIFT 3')" >
                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                      </label>
                      <div *ngIf="isReasonRequired(shift1Switches[0]) && !overTimeSwitch">
                        <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="shift1Reasons[0].description" (keydown.enter)="handleReasonSaveUpdateDelete(shift1Reasons[0],reasonInput)" required >
                      </div>
                    </div>
                  </div>
              
                  <!-- Shift 1 -->
                  <div class="form-group" *ngIf="!weekend">
                    <div class="per-hour-wrapper">
                      <h4 style="min-width: 70px;">Shift 1</h4>
                      <label class="switch switch-label switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="shift1Switches[1]" (ngModelChange)="handleShiftChange(1,'SHIFT 1')">
                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                      </label>
                      <div *ngIf="isReasonRequired(shift1Switches[1]) && !overTimeSwitch">
                        <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="shift1Reasons[1].description" (keydown.enter)="handleReasonSaveUpdateDelete(shift1Reasons[1],reasonInput)" required >
                      </div>
                    </div>
                  </div>
              
                  <!-- Shift 2 -->
                  <div class="form-group" *ngIf="!weekend">
                    <div class="per-hour-wrapper">
                      <h4 style="min-width: 70px;">Shift 2</h4>
                      <label class="switch switch-label switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="shift1Switches[2]" (ngModelChange)="handleShiftChange(2, 'SHIFT 2')" >
                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                      </label>
                      <div *ngIf="isReasonRequired(shift1Switches[2]) && !overTimeSwitch">
                        <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="shift1Reasons[2].description" (keydown.enter)="handleReasonSaveUpdateDelete(shift1Reasons[2],reasonInput)" required >
                      </div>
                    </div>
                  </div>
                                    
                </div>
                <tabset>
                  <tab *ngIf="overTimeSwitch" heading="TT">
                    <div class="form-group">
  
                      <!-- TT Shift 3 -->
                      <div class="form-group">
                        <div class="per-hour-wrapper">
                          <h4 style="min-width: 70px;">Shift 3</h4>
                          <label class="switch switch-label switch-primary">
                            <input type="checkbox" class="switch-input" [(ngModel)]="ttSwitches[0]" (ngModelChange)="handleShiftChangeTT(0)">
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label>
                          <div *ngIf="isReasonRequired(ttSwitches[0])">
                            <input #reasonInput type="text" placeholder="Reason" class="form-control"  [(ngModel)]="ttReasons[0].description" (keydown.enter)="handleReasonSaveUpdateDelete(ttReasons[0],reasonInput)" required>
                          </div>
                        </div>
                      </div>
  
                      <!-- TT Shift 1 -->
                      <div class="form-group">
                        <div class="per-hour-wrapper">
                          <h4 style="min-width: 70px;">Shift 1</h4>
                          <label class="switch switch-label switch-primary">
                            <input type="checkbox" class="switch-input" [(ngModel)]="ttSwitches[1]" (ngModelChange)="handleShiftChangeTT(1)">
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label>
                          <div *ngIf="isReasonRequired(ttSwitches[1])">
                            <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="ttReasons[1].description" (keydown.enter)="handleReasonSaveUpdateDelete(ttReasons[1],reasonInput)" required>
                          </div>
                        </div>
                      </div>
                  
                      <!-- TT Shift 2 -->
                      <div class="form-group">
                        <div class="per-hour-wrapper">
                          <h4 style="min-width: 70px;">Shift 2</h4>
                          <label class="switch switch-label switch-primary">
                            <input type="checkbox" class="switch-input" [(ngModel)]="ttSwitches[2]" (ngModelChange)="handleShiftChangeTT(2)">
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label>
                          <div *ngIf="isReasonRequired(ttSwitches[2])">
                            <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="ttReasons[2].description" (keydown.enter)="handleReasonSaveUpdateDelete(ttReasons[2],reasonInput)" required>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </tab>
                  
                  <tab *ngIf="overTimeSwitch" heading="TL">
                    <div class="form-group">
                      <!-- TL Shift 3 -->
                      <div class="form-group">
                        <div class="per-hour-wrapper">
                          <h4 style="min-width: 70px;">Shift 3</h4>
                          <label class="switch switch-label switch-primary">
                            <input type="checkbox" class="switch-input" [(ngModel)]="tlSwitches[0]" (ngModelChange)="handleShiftChangeTL(0)">
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label>
                          <div *ngIf="isReasonRequired(tlSwitches[0])">
                            <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="tlReasons[0].description"(keydown.enter)="handleReasonSaveUpdateDelete(tlReasons[0],reasonInput)" required>
                          </div>
                        </div>
                      </div>
                      <!-- TL Shift 1 -->
                      <div class="form-group">
                        <div class="per-hour-wrapper">
                          <h4 style="min-width: 70px;">Shift 1</h4>
                          <label class="switch switch-label switch-primary">
                            <input type="checkbox" class="switch-input" [(ngModel)]="tlSwitches[1]" (ngModelChange)="handleShiftChangeTL(1)">
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label>
                          <div *ngIf="isReasonRequired(tlSwitches[1])">
                            <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="tlReasons[1].description"(keydown.enter)="handleReasonSaveUpdateDelete(tlReasons[1],reasonInput)" required>
                          </div>
                        </div>
                      </div>
                  
                      <!-- TL Shift 2 -->
                      <div class="form-group">
                        <div class="per-hour-wrapper">
                          <h4 style="min-width: 70px;">Shift 2</h4>
                          <label class="switch switch-label switch-primary">
                            <input type="checkbox" class="switch-input" [(ngModel)]="tlSwitches[2]" (ngModelChange)="handleShiftChangeTL(2)">
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label>
                          <div *ngIf="isReasonRequired(tlSwitches[2])">
                            <input #reasonInput type="text" placeholder="Reason" class="form-control" [(ngModel)]="tlReasons[2].description"(keydown.enter)="handleReasonSaveUpdateDelete(tlReasons[2],reasonInput)" required>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tab>
                </tabset>              
              </tab>                
              <!-- Tab 3: Per Hour -->
              <tab style="width: 680px; height: 250px; overflow: auto; white-space: nowrap;" heading="Per Hour Normal" *ngIf="(!isSaturday && !weekend) || (weekend && isSaturday)">
                <div class="form-group">
                  <ng-container *ngFor="let shift of shifts; let i = index">
                    <div class="hour-group mt-3" *ngIf="!isSaturday || (isSaturday && i === 0)">
                      <h5>{{ shift }}</h5>
                      <div style="display: flex; flex-direction: row; gap: 10px;">
                        <div style="display: flex; flex-direction: column;">
                          <div style="gap: 10px; display: flex;">
                            <label>
                              Start Time:
                              <input
                                type="time"
                                [(ngModel)]="perHourShift['shift' + getShiftIndex(i) + '_START_TIME']"
                                class="form-control"
                                style="width: 200px;"
                                (change)="updateTotalTime(i)"
                              />
                            </label>
                            <label>
                              End Time:
                              <input
                                type="time"
                                [(ngModel)]="perHourShift['shift' + getShiftIndex(i) + '_END_TIME']"
                                class="form-control"
                                style="width: 200px;"
                                (change)="updateTotalTime(i)"
                              />
                            </label>
                          </div>
                          <div *ngIf="perHourShift['shift' + getShiftIndex(i) + '_END_TIME'] === '00:00' && perHourShift['shift' + getShiftIndex(i) + '_START_TIME']" class="reason-input">
                            <input 
                              #reasonInput 
                              type="text" 
                              placeholder="Reason" 
                              class="form-control"
                              [(ngModel)]="perHourReasons[i].description" 
                              (keydown.enter)="handleReasonSaveUpdateDelete(perHourReasons[i], reasonInput)" 
                              required
                            />
                          </div>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                          <label>
                            Total Time:
                            <input
                              type="number"
                              [(ngModel)]="perHourShift['shift' + getShiftIndex(i) + '_TOTAL_TIME']"
                              class="form-control"
                              disabled
                            />
                          </label>
                          <button type="button" class="mb-2 btn btn-warning" (click)="resetShiftTime('perHourShift', i)">Reset Time</button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="">
                  <button type="button" (click)="saveHour(perHourShift)" class="btn btn-primary">Save</button>
                </div>
              </tab>
              
              <tab style="width: 680px; height: 250px; overflow: auto; white-space: nowrap;" heading="Per Hour Overtime TT" *ngIf="overTimeSwitch">
                <div class="form-group">
                  <div *ngFor="let shift of shifts; let i = index" class="hour-group mt-3">
                    <h5>{{ shift }}</h5>
                    <div style="display: flex; flex-direction: row; gap: 10px;">
                      <div style="display: flex; flex-direction: column;">
                        <div style="gap: 10px; display: flex;">
                          <label>
                            Start Time:
                            <input
                              type="time"
                              [(ngModel)]="ttperHourSwitches['shift' + getShiftIndex(i) + '_START_TIME']"
                              (change)="updateTotalTimeOTTT(i)"
                              class="form-control"
                              style="width: 200px;"
                            />
                          </label>
                          <label>
                            End Time:
                            <input
                              type="time"
                              [(ngModel)]="ttperHourSwitches['shift' +  getShiftIndex(i) + '_END_TIME']"
                              (change)="updateTotalTimeOTTT(i)"
                              class="form-control"
                              style="width: 200px;"
                            />
                          </label>
                        </div>
                        <div *ngIf="ttperHourSwitches['shift' +  getShiftIndex(i) + '_END_TIME'] === '00:00' && ttperHourSwitches['shift' + getShiftIndex(i) + '_START_TIME']" class="reason-input">
                          <input #reasonInput 
                          type="text" 
                          placeholder="Reason" 
                          class="form-control" 
                          [(ngModel)]="ttperHourReasons[i].description" 
                          (keydown.enter)="handleReasonSaveUpdateDelete(ttperHourReasons[i], reasonInput)" 
                          required>
                        </div>
                      </div>
                      <div style="display: flex; flex-direction: column;">
                        <label>
                          Total Time:
                          <input
                            type="number"
                            [(ngModel)]="ttperHourSwitches['shift' +  getShiftIndex(i) + '_TOTAL_TIME']"
                            class="form-control"
                            disabled
                          />
                        </label>
                        <button type="button" class="btn btn-warning" (click)="resetShiftTime('ttperHourSwitches', i)">Reset Time</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <button type="button" (click)="saveHour(ttperHourSwitches)" class="btn btn-primary">Save</button>
                </div>
              </tab>

              <tab style="width: 680px; height: 250px; overflow: auto; white-space: nowrap;" heading="Per Hour Overtime TL"*ngIf="overTimeSwitch">
                <div class="form-group">
                  <div *ngFor="let shift of shifts; let i = index" class="hour-group mt-3">
                    <h5>{{ shift }}</h5>
                    <div style="display: flex; flex-direction: row; gap: 10px;">
                      <div style="display: flex; flex-direction: column;">
                        <div style="gap: 10px; display: flex;">
                          <label>
                            Start Time:
                            <input
                              type="time"
                              [(ngModel)]="tlperHourSwitches['shift' + getShiftIndex(i) + '_START_TIME']"
                              (change)="updateTotalTimeOTTL(i)"
                              class="form-control"
                              style="width: 200px;"
                            />
                          </label>
                          <label>
                            End Time:
                            <input
                              type="time"
                              [(ngModel)]="tlperHourSwitches['shift' +  getShiftIndex(i) + '_END_TIME']"
                              (change)="updateTotalTimeOTTL(i)"
                              class="form-control"
                              style="width: 200px;"
                            />
                          </label>
                        </div>
                        <div *ngIf="tlperHourSwitches['shift' +  getShiftIndex(i) + '_END_TIME'] === '00:00' && tlperHourSwitches['shift' + getShiftIndex(i) + '_START_TIME']" class="reason-input">
                          <input #reasonInput type="text" placeholder="Reason" class="form-control" 
                                 [(ngModel)]="tlperHourReasons[i].description" 
                                 (keydown.enter)="handleReasonSaveUpdateDelete(tlperHourReasons[i], reasonInput)" 
                                 required>
                        </div>
                      </div>
                      <div style="display: flex; flex-direction: column;"> 
                        <label>
                          Total Time:
                          <input
                            type="number"
                            [(ngModel)]="tlperHourSwitches['shift' +  getShiftIndex(i) + '_TOTAL_TIME']"
                            class="form-control"
                            disabled
                          />
                        </label>
                        <button type="button" class="btn btn-warning" (click)="resetShiftTime('tlperHourSwitches', i)">Reset Time</button>
                      </div>
                    </div>
                  </div>
                </div>            
                <div class="">
                  <button type="button" (click)="saveHour(tlperHourSwitches)" class="btn btn-primary">Save</button>
                </div>
              </tab>                             
            </tabset>
          </div>
        </div>
      </div>             
    </div>
  </div>
</div>
