<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Product</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="mb-3 form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="mb-3 btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="mb-3 btn btn-primary ml-2" (click)="tamplateExcel()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="mb-3 btn btn-primary ml-2" (click)="downloadExcel()"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="mb-3 btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->

      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
          <!-- No Column -->
          <ng-container matColumnDef="no">
            <th *matHeaderCellDef style="min-width: 50px">No</th>
            <td *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Part Number Column -->
          <ng-container matColumnDef="part_NUMBER">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Part Number</th>
            <td align="center" *matCellDef="let element">{{ element.part_NUMBER }}</td>
          </ng-container>

          <!-- Item Curing Column -->
          <ng-container matColumnDef="item_CURING">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Item Curing</th>
            <td align="left" *matCellDef="let element">{{ element.item_CURING }}</td>
          </ng-container>

          <!-- Pattern ID Column -->
          <ng-container matColumnDef="pattern_ID">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Pattern</th>
            <td align="left" *matCellDef="let element">{{ element.pattern_name }}</td>
          </ng-container>

          <!-- Size ID Column -->
          <ng-container matColumnDef="size_ID">
            <th *matHeaderCellDef style="min-width: 103px" mat-sort-header>Size</th>
            <td align="left" *matCellDef="let element">{{ element.size_ID }}</td>
          </ng-container>

          <!-- Product Type ID Column -->
          <ng-container matColumnDef="product_TYPE_ID">
            <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Product Type</th>
            <td align="left" *matCellDef="let element">{{ element.product_type_name }}</td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Description</th>
            <td align="left" *matCellDef="let element">{{ element.description }}</td>
          </ng-container>

          <!-- Qty Per Rak Column -->
          <ng-container matColumnDef="qty_PER_RAK">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Qty Per Rak</th>
            <td align="right" *matCellDef="let element">{{ element.qty_PER_RAK }}</td>
          </ng-container>

          <!-- Upper Constant Column -->
          <ng-container matColumnDef="upper_CONSTANT">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Upper Constant</th>
            <td align="right" *matCellDef="let element">{{ element.upper_CONSTANT }}</td>
          </ng-container>

          <!-- Lower Constant Column -->
          <ng-container matColumnDef="lower_CONSTANT">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Lower Constant</th>
            <td align="right" *matCellDef="let element">{{ element.lower_CONSTANT }}</td>
          </ng-container>

          <!-- Ext Description Column -->
          <ng-container matColumnDef="ext_DESCRIPTION">
            <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Ext Description</th>
            <td align="left" *matCellDef="let element">{{ element.ext_DESCRIPTION }}</td>
          </ng-container>

          <!-- Item Ext Column -->
          <ng-container matColumnDef="item_EXT">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Item Ext</th>
            <td align="left" *matCellDef="let element">{{ element.item_EXT }}</td>
          </ng-container>

          <!-- Item Assy Column -->
          <ng-container matColumnDef="item_ASSY">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Item Assy</th>
            <td align="left" *matCellDef="let element">{{ element.item_ASSY }}</td>
          </ng-container>

          <!-- Wib Tube Column -->
          <ng-container matColumnDef="wib_TUBE">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Wib Tube</th>
            <td align="left" *matCellDef="let element">{{ element.wib_TUBE }}</td>
          </ng-container>

          <!-- Rim Column -->
          <ng-container matColumnDef="rim">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Rim</th>
            <td align="right" *matCellDef="let element">{{ element.rim }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Status</th>
            <td *matCellDef="let element" [ngClass]="{ 'bg-success': element.status === 1, 'bg-danger': element.status !== 1 }">
              {{ element.status === 1 ? 'Active' : 'Deactive' }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th style="min-width: 200px" *matHeaderCellDef>Action</th>
            <td *matCellDef="let element">
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(element.part_NUMBER)">Update</button>
              <button type="button" class="btn btn-md ml-3" [ngClass]="{ 'btn-danger': element.status === 1, 'btn-success': element.status !== 1 }" (click)="element.status === 1 ? deleteData(element) : activateData(element)">
                {{ element.status === 1 ? 'Delete' : 'Activate' }}
              </button>
            </td>
          </ng-container>

          <!-- Add header and row declarations -->
          <tr align="center" style="height: 20px" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <!-- Pagination -->
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 300]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form with Reactive Forms -->
        <form [formGroup]="editProductTypeForm">
          <div class="form-group">
            <h6 for="curing">Item Curing</h6>
            <div class="col-md-13">
              <ng-select2 id="curing" name="curing" formControlName="curing" [(ngModel)]="editProductObject.item_CURING" [data]="uomOptionData[0]" [options]="options"> </ng-select2>
            </div>
          </div>
          <div class="form-group">
            <h6 for="pattern">Pattern</h6>
            <div class="col-md-13">
              <ng-select2 id="pattern" name="pattern" formControlName="pattern" [(ngModel)]="editProductObject.pattern_ID" [data]="uomOptionData[1]" [options]="options"> </ng-select2>
            </div>
          </div>
          <div class="form-group">
            <h6 for="size">Size</h6>
            <div class="col-md-13">
              <ng-select2 id="size" name="size" formControlName="size" [(ngModel)]="editProductObject.size_ID" [data]="uomOptionData[2]" [options]="options"> </ng-select2>
            </div>
          </div>
          <div class="form-group">
            <h6 for="productType">Product Type</h6>
            <div class="col-md-13">
              <ng-select2 id="productType" name="productType" formControlName="productType" [(ngModel)]="editProductObject.product_TYPE_ID" [data]="uomOptionData[3]" [options]="options"> </ng-select2>
            </div>
          </div>
          <div class="form-group">
            <h6 for="qty">Qty Per Rak</h6>
            <input [(ngModel)]="editProductObject.qty_PER_RAK" type="text" (keypress)="validateNumberInput($event)" maxlength="9" class="form-control" id="qty" formControlName="qty" [ngClass]="{ 'is-invalid': editProductTypeForm.get('qty').invalid && editProductTypeForm.get('qty').touched }" />
            <div *ngIf="editProductTypeForm.get('qty').invalid && editProductTypeForm.get('qty').touched" class="invalid-feedback">Qty Per Rak Text is required.</div>
          </div>
          <div class="form-group">
            <h6 for="upper">Upper Constant</h6>
            <input [(ngModel)]="editProductObject.upper_CONSTANT" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="upper" formControlName="upper" [ngClass]="{ 'is-invalid': editProductTypeForm.get('upper').invalid && editProductTypeForm.get('upper').touched }" />
            <div *ngIf="editProductTypeForm.get('upper').invalid && editProductTypeForm.get('upper').touched" class="invalid-feedback">upper Per Rak Text is required.</div>
          </div>
          <div class="form-group">
            <h6 for="lower">Lower Constant</h6>
            <input [(ngModel)]="editProductObject.lower_CONSTANT" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="lower" formControlName="lower" [ngClass]="{ 'is-invalid': editProductTypeForm.get('lower').invalid && editProductTypeForm.get('lower').touched }" />
            <div *ngIf="editProductTypeForm.get('lower').invalid && editProductTypeForm.get('lower').touched" class="invalid-feedback">lower Text is required.</div>
          </div>
          <div class="form-group">
            <h6 for="desc">Ext Description</h6>
            <input [(ngModel)]="editProductObject.ext_DESCRIPTION" type="text" maxlength="19" class="form-control" id="desc" formControlName="desc" [ngClass]="{ 'is-invalid': editProductTypeForm.get('desc').invalid && editProductTypeForm.get('desc').touched }" />
            <div *ngIf="editProductTypeForm.get('desc').invalid && editProductTypeForm.get('desc').touched" class="invalid-feedback">Ext Description Text is required.</div>
          </div>
          <div class="form-group">
            <h6 for="itemExt">Item Ext</h6>
            <input [(ngModel)]="editProductObject.item_EXT" type="text" maxlength="19" class="form-control" id="itemExt" formControlName="itemExt" [ngClass]="{ 'is-invalid': editProductTypeForm.get('itemExt').invalid && editProductTypeForm.get('itemExt').touched }" />
            <div *ngIf="editProductTypeForm.get('itemExt').invalid && editProductTypeForm.get('itemExt').touched" class="invalid-feedback">Item Ext Text is required.</div>
          </div>
          <div class="form-group">
            <h6 for="itemAssy">Item Assy</h6>
            <input [(ngModel)]="editProductObject.item_ASSY" type="itemAssy" maxlength="19" class="form-control" id="itemAssy" formControlName="itemAssy" [ngClass]="{ 'is-invalid': editProductTypeForm.get('itemAssy').invalid && editProductTypeForm.get('itemAssy').touched }" />
            <div *ngIf="editProductTypeForm.get('itemAssy').invalid && editProductTypeForm.get('itemAssy').touched" class="invalid-feedback">Item Assy Text is required.</div>
          </div>
          <div class="form-group">
            <h6 for="wibTube">Wib Tube</h6>
            <input [(ngModel)]="editProductObject.wib_TUBE" type="text" maxlength="19" class="form-control" id="wibTube" formControlName="wibTube" [ngClass]="{ 'is-invalid': editProductTypeForm.get('wibTube').invalid && editProductTypeForm.get('wibTube').touched }" />
            <div *ngIf="editProductTypeForm.get('wibTube').invalid && editProductTypeForm.get('wibTube').touched" class="invalid-feedback">Wib Tube is required.</div>
          </div>
          <div class="form-group">
            <h6 for="rim">Rim</h6>
            <input [(ngModel)]="editProductObject.rim" type="text" maxlength="4" class="form-control" id="rim" (keypress)="validateNumberInput($event)" formControlName="rim" [ngClass]="{ 'is-invalid': editProductTypeForm.get('rim').invalid && editProductTypeForm.get('rim').touched }" />
            <div *ngIf="editProductTypeForm.get('rim').invalid && editProductTypeForm.get('rim').touched" class="invalid-feedback">Rim Text is required.</div>
          </div>
          <div class="form-group">
            <h6 for="description">Description</h6>
            <input [(ngModel)]="editProductObject.description" type="text" class="form-control" maxlength="99" id="description" formControlName="description" [ngClass]="{ 'is-invalid': editProductTypeForm.get('description').invalid && editProductTypeForm.get('description').touched }" />
            <div *ngIf="editProductTypeForm.get('description').invalid && editProductTypeForm.get('description').touched" class="invalid-feedback">Description Text is required.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="editProductTypeForm.invalid" (click)="updateProduct()">Update Product</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Upload Excel -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <!-- Manual File Input -->
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
      </div>
    </div>
  </div>
</div>
