<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Machine Tass</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="mb-3 form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="mb-3 btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="mb-3 btn btn-primary ml-2" (click)="tamplateExcel()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="mb-3 btn btn-primary ml-2" (click)="downloadExcel()"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="mb-3 btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
          <!-- No Column -->
          <ng-container matColumnDef="no">
            <th *matHeaderCellDef style="min-width: 50px">No</th>
            <td *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Machine Tass ID Column -->
          <ng-container matColumnDef="id_MACHINE_TASS">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Machine Tass ID</th>
            <td align="center" *matCellDef="let element">{{ element.id_MACHINE_TASS }}</td>
          </ng-container>

          <!-- Building ID Column -->
          <ng-container matColumnDef="building_ID">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Building</th>
            <td align="left" *matCellDef="let element">{{ element.building_Name }}</td>
          </ng-container>

          <!-- Floor Column -->
          <ng-container matColumnDef="floor">
            <th *matHeaderCellDef style="min-width: 130px" mat-sort-header>Floor</th>
            <td align="right" *matCellDef="let element">{{ element.floor }}</td>
          </ng-container>

          <!-- Machine Number Column -->
          <ng-container matColumnDef="machine_NUMBER">
            <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Machine Number</th>
            <td align="right" *matCellDef="let element">{{ element.machine_NUMBER }}</td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="machinetasstype_ID">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Type</th>
            <td align="left" *matCellDef="let element">{{ element.machine_TASS_TYPE_ID }}</td>
          </ng-container>

          <!-- Work Center Text Column -->
          <ng-container matColumnDef="work_CENTER_TEXT">
            <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Work Center Text</th>
            <td align="left" *matCellDef="let element">{{ element.work_CENTER_TEXT }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Status</th>
            <td *matCellDef="let element" [ngClass]="{ 'bg-success': element.status === 1, 'bg-danger': element.status !== 1 }">
              {{ element.status === 1 ? 'Active' : 'Deactive' }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef style="min-width: 200px">Action</th>
            <td *matCellDef="let element">
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(element.id_MACHINE_TASS)">Update</button>
              <button type="button" class="btn btn-md ml-3" [ngClass]="{ 'btn-danger': element.status === 1, 'btn-success': element.status !== 1 }" (click)="element.status === 1 ? deleteData(element) : activateData(element)">
                {{ element.status === 1 ? 'Delete' : 'Active' }}
              </button>
            </td>
          </ng-container>
          <tr align="center" style="height: 20px" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!-- Pagination -->
      </div>
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <!-- Modal edit -->
      <div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addModalLabel">Edit Machine Tass</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Form with Reactive Forms -->
              <form [formGroup]="editMachineTassForm">
                <div class="form-group">
                  <h6 for="building">Building</h6>
                  <div class="col-md-13">
                    <ng-select2 id="building" name="building" formControlName="building" [(ngModel)]="editMachineTassObject.building_ID" [data]="uomOptionData[0]" [options]="options"> </ng-select2>
                  </div>
                </div>
                <div class="form-group">
                  <h6 for="tassType">Type</h6>
                  <div class="col-md-13">
                    <ng-select2 id="tassType" name="tassType" formControlName="tassType" [(ngModel)]="editMachineTassObject.machine_TASS_TYPE_ID" [data]="uomOptionData[1]" [options]="options"> </ng-select2>
                  </div>
                </div>
                <div class="form-group">
                  <h6 for="floor">Floor</h6>
                  <input [(ngModel)]="editMachineTassObject.floor" type="text" class="form-control" (keypress)="validateNumberInput($event)" maxlength="9" onpaste="return false" id="floor" formControlName="floor" [ngClass]="{ 'is-invalid': editMachineTassForm.get('floor').invalid && editMachineTassForm.get('floor').touched }" />
                  <div *ngIf="editMachineTassForm.get('floor').invalid && editMachineTassForm.get('floor').touched" class="invalid-feedback">Floor is required.</div>
                </div>
                <div class="form-group">
                  <h6 for="machineNum">Machine Number</h6>
                  <input [(ngModel)]="editMachineTassObject.machine_NUMBER" type="text" (keypress)="validateNumberInput($event)" maxlength="9" onpaste="return false" class="form-control" id="machineNum" formControlName="machineNum" [ngClass]="{ 'is-invalid': editMachineTassForm.get('machineNum').invalid && editMachineTassForm.get('machineNum').touched }" />
                  <div *ngIf="editMachineTassForm.get('machineNum').invalid && editMachineTassForm.get('machineNum').touched" class="invalid-feedback">Machine Number is required.</div>
                </div>
                <div class="form-group">
                  <h6 for="wct">Work Center Text</h6>
                  <input [(ngModel)]="editMachineTassObject.work_CENTER_TEXT" maxlength="99" type="text" class="form-control" id="wct" formControlName="wct" [ngClass]="{ 'is-invalid': editMachineTassForm.get('wct').invalid && editMachineTassForm.get('wct').touched }" />
                  <div *ngIf="editMachineTassForm.get('wct').invalid && editMachineTassForm.get('wct').touched" class="invalid-feedback">Work Center Text is required.</div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" [disabled]="editMachineTassForm.invalid" (click)="updateMachineTass()">Update Machine Tass</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for Upload Excel -->
      <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="uploadForm">
                <!-- Manual File Input -->
                <div class="form-group mt-3">
                  <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
