.off-header {
  background-color: red;
  color: white;
}

th.sticky-column {
  position: sticky;
  z-index: 10;
}

/* Sticky baris pertama */
tr:first-child th {
  top: 0;
  z-index: 20; /* Lebih tinggi agar tidak tertutup baris kedua */
}

/* Sticky baris kedua */
tr:nth-child(2) th {
  top: 30px; /* Sesuaikan dengan tinggi baris pertama */
  z-index: 10; /* Lebih rendah dari baris pertama */
  background-color: #fff; /* Tambahkan background agar tidak transparan */

}

.overtime-header {
  background-color: yellow;
  color: black;
}
.semi-off{
  background-color: cyan;
  color: black;
}

.hoverable {
  cursor: pointer; /* Mengubah kursor menjadi pointer */
}

.table-responsive {
  max-height: 1200px;
}

.hoverable:hover {
  background-color: #f0f0f0; /* Mengubah warna latar belakang saat hover */
}
.sticky {
  position: sticky;
  left: 0;
  background: white;
  z-index: 2;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

.mat-cell {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.mat-cell:last-of-type{
  padding-right: 5px;
}

.mat-cell:first-of-type{
  padding-left: 5px;
}

th.mat-header-cell input[type="checkbox"] {
  display: none; /* Menyembunyikan checkbox di header */
}

/* Membuat modal lebih lebar */
.modal-dialog {
  max-width: 60%;  /* Perbesar lebar modal */
}

.modal-body {
  padding-bottom: 10px;  /* Menambahkan padding agar modal tidak terlalu rapat */
  max-height: 70vh;      /* Atur ketinggian modal maksimal */
  overflow-y: auto;      /* Scroll vertikal untuk isi modal */
}

/* Menambahkan scroll pada tabel */
.table-wrapper {
  max-height: 400px; /* Tentukan tinggi maksimum yang diinginkan */
  overflow-y: auto;  /* Menambahkan scroll vertikal */
}

/* Membekukan header tabel */
#resultsTable thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* Agar tidak transparan saat sticky */
  z-index: 1;
}

/* Membekukan filter */
#machineTable thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

.middle-align {
  vertical-align: middle ;
}
