<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Machine Curing </strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="mb-3 form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="mb-3 btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="mb-3 btn btn-primary ml-2" (click)="templateExcel()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="mb-3 btn btn-primary ml-2" (click)="downloadExcel()"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="mb-3 btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
          <ng-container matColumnDef="no" >
            <th *matHeaderCellDef >No</th>
            <td  *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="work_CENTER_TEXT">
            <th style="min-width: 300px;" *matHeaderCellDef mat-sort-header >Work Center Text</th>
            <td *matCellDef="let element">{{ element.work_CENTER_TEXT }}</td>
          </ng-container>

          <ng-container matColumnDef="building_ID">
            <th style="min-width: 200px;" *matHeaderCellDef mat-sort-header >Building Name</th>
            <td class="huruf" *matCellDef="let element">{{ element.building_id }}</td>
          </ng-container>

          <ng-container matColumnDef="cavity">
            <th  *matHeaderCellDef mat-sort-header >Cavity</th>
            <td class="angka" *matCellDef="let element">{{ element.cavity }}</td>
          </ng-container>

          <ng-container matColumnDef="machine_TYPE">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Machine Type</th>
            <td class="huruf" *matCellDef="let element">{{ element.machine_TYPE }}</td>
          </ng-container>

          <ng-container matColumnDef="status_USAGE">
            <th style="min-width: 150px;" *matHeaderCellDef mat-sort-header >Status Usage</th>
            <td class="angka" *matCellDef="let element">{{ element.status_USAGE }}</td>
          </ng-container>
          
          <ng-container matColumnDef="status">
            <th style="min-width: 50px;"  *matHeaderCellDef mat-sort-header>Status</th>
            <td *matCellDef="let element" [ngClass]="{ 'bg-success': element.status === 1, 'bg-danger': element.status !== 1 }">
              {{ element.status === 1 ? 'Active' : 'Deactive' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action" >
            <th style="min-width: 200px;" *matHeaderCellDef>Action</th>
            <td *matCellDef="let element">
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(element.work_CENTER_TEXT)">Update</button>
              <button type="button" class="btn btn-md ml-2" [ngClass]="{ 'btn-danger': element.status === 1, 'btn-success': element.status !== 1 }" (click)="element.status === 1 ? deleteData(element) : activateData(element)">
                {{ element.status === 1 ? 'Delete' : 'Active' }}
              </button>
            </td>
          </ng-container>

          <tr align="center" style="height: 20px;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- Pagination -->
    </div>
    <mat-paginator [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 20, 50, 100]"
            showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Edit Curing Machine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form with Reactive Forms -->
        <form [formGroup]="editCuringMachineForm">
          <div class="form-group">
            <label for="buildingID" style="min-width: 150px;">Building Name</label>
            <div>
              <ng-select2
                formControlName="buildingID" 
                id="buildingID"
                name = "buildingID"
                [(ngModel)]="edtCuringMachineObject.building_ID"
                [data]="uomOptions[0]"
                [options]="options"
                [placeholder]="'Please Select'">
              </ng-select2>
            </div>
          </div>

          <div class="form-group">
            <label for="machine_TYPE" style="min-width: 150px;">Machine Type</label>
            <div>
              <ng-select2
                formControlName="machine_TYPE" 
                id="machine_TYPE"
                name = "machine_TYPE"
                [(ngModel)]="edtCuringMachineObject.machine_TYPE"
                [data]="uomOptions[1]"
                [options]="options"
                [placeholder]="'Please Select'">
              </ng-select2>
            </div>
          </div>

          <div class="form-group">
            <label for="cavity">Cavity</label>
            <input [(ngModel)]="edtCuringMachineObject.cavity" type="text" min="0" class="form-control" id="cavity" formControlName="cavity" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editCuringMachineForm.get('cavity').invalid && editCuringMachineForm.get('cavity').touched }" />
            <div *ngIf="editCuringMachineForm.get('cavity').invalid && editCuringMachineForm.get('cavity').touched" class="invalid-feedback">Cavity is required.</div>
          </div>

          <div class="form-group">
            <label for="statusUsage">Status Usage</label>
            <input [(ngModel)]="edtCuringMachineObject.status_USAGE" type="text" min="0" class="form-control" id="statusUsage" (keypress)="allowOnlyNumbers($event)" formControlName="statusUsage" [ngClass]="{ 'is-invalid': editCuringMachineForm.get('statusUsage').invalid && editCuringMachineForm.get('statusUsage').touched }" />
            <div *ngIf="editCuringMachineForm.get('statusUsage').invalid && editCuringMachineForm.get('statusUsage').touched" class="invalid-feedback">Status Usage is required.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Disable Update button if form is invalid -->
        <button type="button" class="btn btn-primary" [disabled]="editCuringMachineForm.invalid" (click)="updateCuringMachine()">Update Curing Machine</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Upload Excel -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <!-- Manual File Input -->
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
      </div>
    </div>
  </div>
</div>
