<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Tass Size</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="btn btn-primary ml-2" (click)="templateExcel()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="btn btn-primary ml-2" (click)="downloadExcel()"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
          <ng-container matColumnDef="no">
            <th *matHeaderCellDef>No</th>
            <td *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="machinetasstype_NAME">
            <th *matHeaderCellDef mat-sort-header>Machine Tass Type</th>
            <td class="huruf" *matCellDef="let element">{{ element.machinetasstype_NAME }}</td>
          </ng-container>

          <ng-container matColumnDef="size_NAME">
            <th *matHeaderCellDef mat-sort-header>Size</th>
            <td class="huruf" *matCellDef="let element">{{ element.size_NAME }}</td>
          </ng-container>

          <ng-container matColumnDef="capacity">
            <th *matHeaderCellDef mat-sort-header>Capacity</th>
            <td class="angka" *matCellDef="let element">{{ element.capacity }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th *matHeaderCellDef>Status</th>
            <td *matCellDef="let element" [ngClass]="{ 'bg-success': element.status === 1, 'bg-danger': element.status !== 1 }">
              {{ element.status === 1 ? 'Active' : 'Deactive' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th *matHeaderCellDef style="min-width: 200px">Action</th>
            <td *matCellDef="let element">
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(element.tassize_ID)">Update</button>
              <button type="button" class="btn btn-md ml-2" [ngClass]="{ 'btn-danger': element.status === 1, 'btn-success': element.status !== 1 }" (click)="element.status === 1 ? deleteData(element) : activateData(element)">
                {{ element.status === 1 ? 'Delete' : 'Active' }}
              </button>
            </td>
          </ng-container>

          <tr align="center" style="height: 20px" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- Pagination -->
      </div>
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Edit Tass Size</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form with Reactive Forms -->
        <form [formGroup]="editTassSizeForm">
          <div class="form-group">
            <label for="machinetasstype_ID" style="min-width: 150px">Machine Tass Type</label>
            <div>
              <ng-select2 formControlName="machinetasstype_ID" id="machinetasstype_ID" name="machinetasstype_ID" [(ngModel)]="edtTassSizeObject.machinetasstype_ID" [data]="uomOptions[0]" [options]="options" [placeholder]="'Please Select'"> </ng-select2>
            </div>
          </div>
          <div class="form-group">
            <label for="sizeid" style="min-width: 150px">Size</label>
            <div>
              <ng-select2 formControlName="sizeid" id="sizeid" name="sizeid" [(ngModel)]="edtTassSizeObject.size_ID" [data]="uomOptions[1]" [options]="options" [placeholder]="'Please Select'"> </ng-select2>
            </div>
          </div>
          <div class="form-group">
            <label for="capacity">Capacity</label>
            <input [(ngModel)]="edtTassSizeObject.capacity" type="text" (keypress)="validateNumberInput($event)" maxlength="4" class="form-control" id="capacity" formControlName="capacity" [ngClass]="{ 'is-invalid': editTassSizeForm.get('capacity').invalid && editTassSizeForm.get('capacity').touched }" />
            <div *ngIf="editTassSizeForm.get('capacity').invalid && editTassSizeForm.get('capacity').touched" class="invalid-feedback">Capacity is required.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Disable Update button if form is invalid -->
        <button type="button" class="btn btn-primary" [disabled]="editTassSizeForm.invalid" (click)="updateTassSize()">Update Tass Size</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Upload Excel -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <!-- Manual File Input -->
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
      </div>
    </div>
  </div>
</div>
