<div class="animated fadeIn">
  <!-- Table Summary All Marketing Order -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;Summary all Marketing Order</strong>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchTextMo" (input)="onSearchChangeMo()" placeholder="Find here..." />
            <button type="submit" class="btn btn-primary ml-2" (click)="resetSearchMo()">Reset</button>
          </div>
        </div>

        <!-- Table -->
        <div class="table-responsive">
          <table mat-table matSort #sortSumMo="matSort" [dataSource]="dataSourceSumMo" class="table table-bordered table-striped table-sm">
            <!-- No Column -->
            <ng-container matColumnDef="no">
              <th *matHeaderCellDef style="min-width: 50px">No</th>
              <td *matCellDef="let mo; let i = index">{{ i + 1 }}</td>
            </ng-container>

            <!-- Mo Month 0 -->
            <ng-container matColumnDef="month0">
              <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Month 1</th>
              <td *matCellDef="let mo">{{ parseDate(mo.month0) }}</td>
            </ng-container>

            <!-- Mo Month 1 -->
            <ng-container matColumnDef="month1">
              <th *matHeaderCellDef style="min-width: 80px" mat-sort-header>Month 2</th>
              <td *matCellDef="let mo">{{ parseDate(mo.month1) }}</td>
            </ng-container>

            <!-- Mo Month 2 -->
            <ng-container matColumnDef="month2">
              <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Month 3</th>
              <td *matCellDef="let mo">{{ parseDate(mo.month2) }}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th *matHeaderCellDef style="min-width: 90px">Action</th>
              <td *matCellDef="let mo">
                <button type="button" class="btn btn-md btn-success ml-2" (click)="exportSummaryExcelMo(mo.month0, mo.month1, mo.month2)">
                  <!-- <span *ngIf="" class="spinner-border spinner-border-sm mr-1"></span> -->
                  Print
                </button>
              </td>
            </ng-container>

            <tr align="center" style="height: 20px" mat-header-row *matHeaderRowDef="displayedColumnsSumMo"></tr>
            <tr align="center" mat-row *matRowDef="let row; columns: displayedColumnsSumMo"></tr>
          </table>
        </div>
        <!-- Pagination -->
        <mat-paginator #paginatorMo [pageSizeOptions]="[20, 100, 200]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <!-- End Summary -->

  <!-- Table Marketing Order -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;Marketing Order</strong>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchTextMo" (input)="onSearchChangeMo()" placeholder="Find here..." />
            <button type="submit" class="btn btn-primary ml-2" (click)="resetSearchMo()">Reset</button>
          </div>
        </div>

        <!-- Table -->
        <div class="table-responsive">
          <table mat-table matSort #sortMo="matSort" [dataSource]="dataSourceMo" class="table table-bordered table-striped table-sm">
            <!-- No Column -->
            <ng-container matColumnDef="no">
              <th *matHeaderCellDef style="min-width: 50px">No</th>
              <td *matCellDef="let mo; let i = index">{{ i + 1 }}</td>
            </ng-container>

            <!-- Marketing Order ID Column -->
            <ng-container matColumnDef="moId">
              <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Marketing Order ID</th>
              <td *matCellDef="let mo">{{ mo.moId }}</td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
              <th *matHeaderCellDef style="min-width: 80px" mat-sort-header>Type</th>
              <td *matCellDef="let mo">{{ mo.type }}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="dateValid">
              <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Date</th>
              <td *matCellDef="let mo">{{ parseDate(mo.dateValid) }}</td>
            </ng-container>

            <!-- Revision PPC Column -->
            <ng-container matColumnDef="revisionPpc">
              <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Revision PPC</th>
              <td *matCellDef="let mo">{{ mo.revisionPpc }}</td>
            </ng-container>

            <!-- Revision Marketing Column -->
            <ng-container matColumnDef="revisionMarketing">
              <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Revision Marketing</th>
              <td *matCellDef="let mo">{{ mo.revisionMarketing }}</td>
            </ng-container>

            <!-- Month 1 Column -->
            <ng-container matColumnDef="month0">
              <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Month 1</th>
              <td *matCellDef="let mo">{{ parseDate(mo.month0) }}</td>
            </ng-container>

            <!-- Month 2 Column -->
            <ng-container matColumnDef="month1">
              <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Month 2</th>
              <td *matCellDef="let mo">{{ parseDate(mo.month1) }}</td>
            </ng-container>

            <!-- Month 3 Column -->
            <ng-container matColumnDef="month2">
              <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Month 3</th>
              <td *matCellDef="let mo">{{ parseDate(mo.month2) }}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th *matHeaderCellDef style="min-width: 200px">Action</th>
              <td *matCellDef="let mo">
                <button type="button" [disabled]="loadingShow[mo.moId]" class="btn btn-md btn-secondary" (click)="showDataRevision(mo.moId)">
                  <span *ngIf="loadingShow[mo.moId]" class="spinner-border spinner-border-sm mr-1"></span>
                  Show
                </button>
                <button type="button" [disabled]="loadingPrint[mo.moId]" class="btn btn-md btn-success ml-2" (click)="exportExcelMo(mo.moId)">
                  <span *ngIf="loadingPrint[mo.moId]" class="spinner-border spinner-border-sm mr-1"></span>
                  Print
                </button>
              </td>
            </ng-container>

            <tr align="center" style="height: 20px" mat-header-row *matHeaderRowDef="displayedColumnsMo"></tr>
            <tr align="center" mat-row *matRowDef="let row; columns: displayedColumnsMo"></tr>
          </table>
        </div>
        <!-- Pagination -->
        <mat-paginator #paginatorMo [pageSizeOptions]="[20, 100, 200]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

  <!-- Header Marketing Order -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>{{ headerRevision }}</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="formHeaderMo" class="form form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Date</label>
            <div class="col-md-9">
              <input class="form-control" type="date" formControlName="date" placeholder="date" [readOnly]="isReadOnly" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="type">Type</label>
            <div class="col-md-9">
              <input class="form-control" type="text" formControlName="type" placeholder="type" [readOnly]="isReadOnly" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="revision">Revision</label>
            <div class="col-md-9">
              <input class="form-control" type="text" formControlName="revision" placeholder="1,2,3..." [readOnly]="isReadOnly" />
            </div>
          </div>

          <!-- Tabset -->
          <tabset>
            <!-- Month 1 -->
            <tab heading="Month 1">
              <div class="form-row align-items-center">
                <div class="col-md-4 min-height-form">
                  <label>Month And Year</label>
                  <input class="form-control input-month-year" formControlName="month_0" type="month" [readOnly]="true" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Normal Working Day</label>
                  <input type="text" formControlName="nwd_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Normal Working Day Tube</label>
                  <input type="text" formControlName="nwt_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime Tube</label>
                  <input type="text" formControlName="ot_wt_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime TL</label>
                  <input type="text" formControlName="tl_ot_wd_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime TT</label>
                  <input type="text" formControlName="tt_ot_wd_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tube</label>
                  <input formControlName="total_wt_0" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tire TL</label>
                  <input formControlName="total_tlwd_0" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tire TT</label>
                  <input formControlName="total_ttwd_0" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tube</label>
                  <input type="text" formControlName="max_tube_capa_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tire TL</label>
                  <input type="text" formControlName="max_capa_tl_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tire TT</label>
                  <input type="text" formControlName="max_capa_tt_0" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Capacity Machine Airbag</label>
                  <input type="text" formControlName="machine_airbag_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">FED TL</label>
                  <input type="text" formControlName="fed_tl_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">FDR TL</label>
                  <input type="text" formControlName="fdr_tl_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">FED TT</label>
                  <input type="text" formControlName="fed_tt_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">FDR TT</label>
                  <input type="text" formControlName="fdr_tt_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Marketing Order</label>
                  <input type="text" formControlName="total_mo_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">% FED TL</label>
                  <input type="text" formControlName="fed_TL_percentage_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">% FDR TL</label>
                  <input type="text" formControlName="fdr_TL_percentage_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">% FED TT</label>
                  <input type="text" formControlName="fed_TT_percentage_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">% FDR TT</label>
                  <input type="text" formControlName="fdr_TT_percentage_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Note Order TL</label>
                  <input type="text" formControlName="note_tl_m0" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
              </div>
            </tab>
            <!-- Month 2 -->
            <tab heading="Month 2">
              <div class="form-row align-items-center">
                <div class="col-md-4 min-height-form">
                  <label>Month And Year</label>
                  <input class="form-control input-month-year" formControlName="month_1" type="month" [readOnly]="true" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Normal Working Day</label>
                  <input type="text" formControlName="nwd_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Normal Working Day Tube</label>
                  <input type="text" formControlName="nwt_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime Tube</label>
                  <input type="text" formControlName="ot_wt_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime TL</label>
                  <input type="text" formControlName="tl_ot_wd_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime TT</label>
                  <input type="text" formControlName="tt_ot_wd_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tube</label>
                  <input formControlName="total_wt_1" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tire TL</label>
                  <input formControlName="total_tlwd_1" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tire TT</label>
                  <input formControlName="total_ttwd_1" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tube</label>
                  <input type="text" formControlName="max_tube_capa_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tire TL</label>
                  <input type="text" formControlName="max_capa_tl_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tire TT</label>
                  <input type="text" formControlName="max_capa_tt_1" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Capacity Machine Airbag</label>
                  <input type="text" formControlName="machine_airbag_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">FED TL</label>
                  <input type="text" formControlName="fed_tl_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">FDR TL</label>
                  <input type="text" formControlName="fdr_tl_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">FED TT</label>
                  <input type="text" formControlName="fed_tt_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">FDR TT</label>
                  <input type="text" formControlName="fdr_tt_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Marketing Order</label>
                  <input type="text" formControlName="total_mo_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">% FED TL</label>
                  <input type="text" formControlName="fed_TL_percentage_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">% FDR TL</label>
                  <input type="text" formControlName="fdr_TL_percentage_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">% FED TT</label>
                  <input type="text" formControlName="fed_TT_percentage_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">% FDR TT</label>
                  <input type="text" formControlName="fdr_TT_percentage_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Note Order TL</label>
                  <input type="text" formControlName="note_tl_m1" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
              </div>
            </tab>
            <!-- Month 3 -->
            <tab heading="Month 3">
              <div class="form-row align-items-center">
                <div class="col-md-4 min-height-form">
                  <label>Month And Year</label>
                  <input class="form-control input-month-year" formControlName="month_2" type="month" [readOnly]="true" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Normal Working Day</label>
                  <input type="text" formControlName="nwd_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Normal Working Day Tube</label>
                  <input type="text" formControlName="nwt_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime Tube</label>
                  <input type="text" formControlName="ot_wt_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime TL</label>
                  <input type="text" formControlName="tl_ot_wd_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Working Day Overtime TT</label>
                  <input type="text" formControlName="tt_ot_wd_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tube</label>
                  <input formControlName="total_wt_2" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tire TL</label>
                  <input formControlName="total_tlwd_2" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Working Day Tire TT</label>
                  <input formControlName="total_ttwd_2" type="text" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tube</label>
                  <input type="text" formControlName="max_tube_capa_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tire TL</label>
                  <input type="text" formControlName="max_capa_tl_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Maximum Capacity Tire TT</label>
                  <input type="text" formControlName="max_capa_tt_2" name="text-input" class="form-control" placeholder="0,00" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Capacity Machine Airbag</label>
                  <input type="text" formControlName="machine_airbag_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">FED TL</label>
                  <input type="text" formControlName="fed_tl_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">FDR TL</label>
                  <input type="text" formControlName="fdr_tl_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">FED TT</label>
                  <input type="text" formControlName="fed_tt_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">FDR TT</label>
                  <input type="text" formControlName="fdr_tt_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Total Marketing Order</label>
                  <input type="text" formControlName="total_mo_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">% FED TL</label>
                  <input type="text" formControlName="fed_TL_percentage_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">% FDR TL</label>
                  <input type="text" formControlName="fdr_TL_percentage_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FDR'">
                  <label for="text-input">% FED TT</label>
                  <input type="text" formControlName="fed_TT_percentage_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form" *ngIf="formHeaderMo.get('type')?.value !== 'FED'">
                  <label for="text-input">% FDR TT</label>
                  <input type="text" formControlName="fdr_TT_percentage_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
                <div class="col-md-4 min-height-form">
                  <label for="text-input">Note Order TL</label>
                  <input type="text" formControlName="note_tl_m2" name="text-input" class="form-control" [readOnly]="isReadOnly" />
                </div>
              </div>
            </tab>
          </tabset>
        </form>
      </div>
    </div>
  </div>

  <!-- Detail Marketing Order -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>{{ detailMoRevision }}</strong>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchTextDmo" (input)="onSearchChangeDmo()" placeholder="Find here..." />
            <button type="submit" class="btn btn-primary ml-2" (click)="resetSearchDmo()">Reset</button>
          </div>
        </div>

        <!-- Table -->
        <div class="table-responsive">
          <table mat-table matSort #sortDmo="matSort" [dataSource]="dataSourceDmo" class="table table-bordered table-sm">
            <ng-container matColumnDef="no" sticky>
              <th *matHeaderCellDef style="min-width: 50px" rowspan="2">No</th>
              <td mat-cell class="text-center" *matCellDef="let mo; let i = index">{{ i + 1 }}</td>
            </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="category" sticky>
              <th *matHeaderCellDef rowspan="2" style="min-width: 150px" mat-sort-header>Category</th>
              <td mat-cell class="text-center" *matCellDef="let element">{{ element.category }}</td>
            </ng-container>

            <!-- Partnumber Column -->
            <ng-container matColumnDef="partNumber" sticky>
              <th *matHeaderCellDef rowspan="2" style="min-width: 150px" mat-sort-header>Item</th>
              <td mat-cell class="text-center" *matCellDef="let mo">{{ mo.partNumber }}</td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description" sticky>
              <th *matHeaderCellDef rowspan="2" style="min-width: 250px" mat-sort-header>Description</th>
              <td class="text-left" *matCellDef="let mo">{{ mo.description }}</td>
            </ng-container>

            <!-- Machine Type Column -->
            <ng-container matColumnDef="machineType">
              <th *matHeaderCellDef rowspan="2" style="min-width: 100px" mat-sort-header>Machine Type</th>
              <td class="text-center" *matCellDef="let mo">{{ mo.machineType }}</td>
            </ng-container>

            <!-- Capacity 99,5% Column -->
            <ng-container matColumnDef="capacity">
              <th *matHeaderCellDef rowspan="2" style="min-width: 50px" mat-sort-header>Capacity {{ capacityDb + '%' }}</th>
              <td class="text-right" *matCellDef="let mo">{{ formatSeparator(mo.capacity) }}</td>
            </ng-container>

            <!-- Quantity mould Column -->
            <ng-container matColumnDef="qtyPerMould">
              <th *matHeaderCellDef rowspan="2" style="min-width: 50px" mat-sort-header>Qty Mould</th>
              <td class="text-right" *matCellDef="let mo">{{ formatSeparator(mo.qtyPerMould) }}</td>
            </ng-container>

            <!-- Mould Spare Column -->
            <ng-container matColumnDef="spareMould">
              <th *matHeaderCellDef rowspan="2" style="min-width: 50px" mat-sort-header>Mould Spare</th>
              <td class="text-right" *matCellDef="let mo">{{ formatSeparator(mo.spareMould) }}</td>
            </ng-container>

            <!-- Mould Plan Column -->
            <ng-container matColumnDef="mouldMonthlyPlan">
              <th *matHeaderCellDef rowspan="2" style="min-width: 50px" mat-sort-header>Mould Plan</th>
              <td class="text-right" *matCellDef="let mo">{{ formatSeparator(mo.mouldMonthlyPlan) }}</td>
            </ng-container>

            <!-- Qty PerRak Column -->
            <ng-container matColumnDef="qtyPerRak">
              <th *matHeaderCellDef rowspan="2" style="min-width: 50px" mat-sort-header>Qty PerRak</th>
              <td class="text-right" *matCellDef="let mo">{{ formatSeparator(mo.qtyPerRak) }}</td>
            </ng-container>

            <!-- Minimum Order Column -->
            <ng-container matColumnDef="minOrder">
              <th *matHeaderCellDef rowspan="2" mat-sort-header style="min-width: 150px">Minimum Order</th>
              <td class="text-right" *matCellDef="let mo">{{ formatSeparator(mo.minOrder) }}</td>
            </ng-container>

            <!-- Maximum Capacity Column -->
            <ng-container matColumnDef="maxCap">
              <th mat-sort-header style="min-width: 350px" *matHeaderCellDef colspan="3">Maximum Capacity</th>
            </ng-container>

            <!-- Initial Stock Column -->
            <ng-container matColumnDef="initialStock">
              <th mat-sort-header style="min-width: 150px" rowspan="2" *matHeaderCellDef>Initial Stock</th>
              <td class="text-right" *matCellDef="let mo">{{ formatSeparator(mo.initialStock) }}</td>
            </ng-container>

            <!-- Sales Forecast Column -->
            <ng-container matColumnDef="salesForecast">
              <th mat-sort-header style="min-width: 350px" *matHeaderCellDef colspan="3">Sales Forecast</th>
            </ng-container>

            <!-- Marketing Order Column -->
            <ng-container matColumnDef="marketingOrder">
              <th mat-sort-header style="min-width: 350px" *matHeaderCellDef colspan="3" class="sticky-column">Marketing Order</th>
            </ng-container>

            <!-- Child header Column -->

            <!-- maxCapMonth0 Column -->
            <ng-container matColumnDef="maxCapMonth0">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px" class="child-column">{{ monthNames[0] || 'Month 1' }}</th>
              <td mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.maxCapMonth0) }}</td>
            </ng-container>

            <!-- maxCapMonth1 Column -->
            <ng-container matColumnDef="maxCapMonth1">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px" class="child-column">{{ monthNames[1] || 'Month 2' }}</th>
              <td mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.maxCapMonth1) }}</td>
            </ng-container>

            <!-- maxCapMonth2 Column -->
            <ng-container matColumnDef="maxCapMonth2">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px" class="child-column">{{ monthNames[2] || 'Month 3' }}</th>
              <td mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.maxCapMonth2) }}</td>
            </ng-container>

            <!-- sfMonth0 Column -->
            <ng-container matColumnDef="sfMonth0">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px">{{ monthNames[0] || 'Month 1' }}</th>
              <td mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.sfMonth0) }}</td>
            </ng-container>

            <!-- sfMonth1 Column -->
            <ng-container matColumnDef="sfMonth1">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px">{{ monthNames[1] || 'Month 1' }}</th>
              <td mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.sfMonth1) }}</td>
            </ng-container>

            <!-- sfMonth2 Column -->
            <ng-container matColumnDef="sfMonth2">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px">{{ monthNames[2] || 'Month 1' }}</th>
              <td mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.sfMonth2) }}</td>
            </ng-container>

            <!-- moMonth0 Column -->
            <ng-container matColumnDef="moMonth0">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px" class="child-column">{{ monthNames[0] || 'Month 1' }}</th>
              <td [ngClass]="{ 'locked-background': mo.lockStatusM0 === 1 }" mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.moMonth0) }}</td>
            </ng-container>

            <!-- moMonth1 Column -->
            <ng-container matColumnDef="moMonth1">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px" class="child-column">{{ monthNames[1] || 'Month 1' }}</th>
              <td [ngClass]="{ 'locked-background': mo.lockStatusM1 === 1 }" mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.moMonth1) }}</td>
            </ng-container>

            <!-- moMonth2 Column -->
            <ng-container matColumnDef="moMonth2">
              <th mat-sort-header *matHeaderCellDef style="min-width: 80px" class="child-column">{{ monthNames[2] || 'Month 2' }}</th>
              <td [ngClass]="{ 'locked-background': mo.lockStatusM2 === 1 }" mat-cell *matCellDef="let mo" class="text-right">{{ formatSeparator(mo.moMonth2) }}</td>
            </ng-container>

            <tr align="center" style="height: 30px" mat-header-row *matHeaderRowDef="headersColumnsDmo; sticky: true"></tr>
            <tr align="center" style="height: 30px" mat-header-row *matHeaderRowDef="childHeadersColumnsDmo; sticky: true"></tr>
            <tr style="height: 30px" mat-row *matRowDef="let row; columns: rowDataDmo"></tr>
          </table>
        </div>
        <!-- Pagination -->
        <mat-paginator #paginatorDmo [pageSizeOptions]="[20, 100, 200]" showFirstLastButtons></mat-paginator>
      </div>
      <div class="col-md-12 pb-4">
        <button (click)="navigateToViewMo()" class="btn btn-primary justify-content-start mr-2">Back</button>
      </div>
    </div>
  </div>
</div>
