<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data CT Assy</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="btn btn-primary ml-2" (click)="templateExcel()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="btn btn-primary ml-2" (click)="downloadExcel()"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->
      <div class="table-responsive table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
          <ng-container matColumnDef="no" >
            <th style="min-width: 50px;" *matHeaderCellDef >No</th>
            <td  *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="ct_ASSY_ID">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Cycle Time Assy ID</th>
            <td *matCellDef="let element">{{ element.ct_ASSY_ID }}</td>
          </ng-container>

          <ng-container matColumnDef="wip">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >WIP</th>
            <td class="huruf" *matCellDef="let element">{{ element.wip }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Description</th>
            <td class="huruf" *matCellDef="let element">{{ element.description }}</td>
          </ng-container>

          <ng-container matColumnDef="group_COUNTER">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Group Counter</th>
            <td class="huruf" *matCellDef="let element">{{ element.group_COUNTER }}</td>
          </ng-container>

          <ng-container matColumnDef="var_GROUP_COUNTER">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Var Group Counter</th>
            <td class="huruf" *matCellDef="let element">{{ element.var_GROUP_COUNTER }}</td>
          </ng-container>

          <ng-container matColumnDef="sequence">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Sequence</th>
            <td class="angka" *matCellDef="let element">{{ element.sequence }}</td>
          </ng-container>

          <ng-container matColumnDef="wct">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >WCT</th>
            <td class="huruf" *matCellDef="let element">{{ element.wct }}</td>
          </ng-container>

          <ng-container matColumnDef="operation_SHORT_TEXT">
            <th style="min-width: 350px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Operation Short Text</th>
            <td class="huruf" *matCellDef="let element">{{ element.operation_SHORT_TEXT }}</td>
          </ng-container>

          <ng-container matColumnDef="operation_UNIT">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Operation Unit</th>
            <td class="huruf" *matCellDef="let element">{{ element.operation_UNIT }}</td>
          </ng-container>

          <ng-container matColumnDef="base_QUANTITY">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Base Quantity</th>
            <td class="angka" *matCellDef="let element">{{ element.base_QUANTITY }}</td>
          </ng-container>

          <ng-container matColumnDef="standard_VALUE_UNIT">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Standard Value Unit</th>
            <td class="huruf" *matCellDef="let element">{{ element.standard_VALUE_UNIT }}</td>
          </ng-container>

          <ng-container matColumnDef="ct_SEC_1">
            <th style="min-width: 150px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Cycle Time Sec 1</th>
            <td class="angka" *matCellDef="let element">{{ element.ct_SEC_1 }}</td>
          </ng-container>

          <ng-container matColumnDef="ct_HR_1000">
            <th style="min-width: 170px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Cycle Time HR 1000</th>
            <td class="angka" *matCellDef="let element">{{ element.ct_HR_1000 }}</td>
          </ng-container>

          <ng-container matColumnDef="wh_NORMAL_SHIFT_0">
            <th style="min-width: 200px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Work Hours Normal Shift 1</th>
            <td class="angka" *matCellDef="let element">{{ element.wh_NORMAL_SHIFT_0 }}</td>
          </ng-container>

          <ng-container matColumnDef="wh_NORMAL_SHIFT_1">
            <th style="min-width: 200px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Work Hours Normal Shift 2</th>
            <td class="angka" *matCellDef="let element">{{ element.wh_NORMAL_SHIFT_1 }}</td>
          </ng-container>

          <ng-container matColumnDef="wh_NORMAL_SHIFT_2">
            <th style="min-width: 200px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Work Hours Normal Shift 3</th>
            <td class="angka" *matCellDef="let element">{{ element.wh_NORMAL_SHIFT_2 }}</td>
          </ng-container>

          <ng-container matColumnDef="wh_SHIFT_FRIDAY">
            <th style="min-width: 200px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Work Hours Shift Friday</th>
            <td class="angka" *matCellDef="let element">{{ element.wh_SHIFT_FRIDAY }}</td>
          </ng-container>

          <ng-container matColumnDef="wh_TOTAL_NORMAL_SHIFT">
            <th style="min-width: 230px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Work Hours Total Normal Shift</th>
            <td class="angka" *matCellDef="let element">{{ element.wh_TOTAL_NORMAL_SHIFT }}</td>
          </ng-container>

          <ng-container matColumnDef="wh_TOTAL_SHIFT_FRIDAY">
            <th style="min-width: 230px;" class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Work Hours Total Shift Friday</th>
            <td class="angka" *matCellDef="let element">{{ element.wh_TOTAL_SHIFT_FRIDAY }}</td>
          </ng-container>

          <ng-container matColumnDef="allow_NORMAL_SHIFT_0">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Allow Normal Shift 1</th>
            <td class="angka" *matCellDef="let element">{{ element.allow_NORMAL_SHIFT_0 }}</td>
          </ng-container>

          <ng-container matColumnDef="allow_NORMAL_SHIFT_1">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Allow Normal Shift 2</th>
            <td class="angka" *matCellDef="let element">{{ element.allow_NORMAL_SHIFT_1 }}</td>
          </ng-container>

          <ng-container matColumnDef="allow_NORMAL_SHIFT_2">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Allow Normal Shift 3</th>
            <td class="angka" *matCellDef="let element">{{ element.allow_NORMAL_SHIFT_2 }}</td>
          </ng-container>

          <ng-container matColumnDef="allow_TOTAL">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Allow Total</th>
            <td class="angka" *matCellDef="let element">{{ element.allow_TOTAL }}</td>
          </ng-container>

          <ng-container matColumnDef="op_TIME_NORMAL_SHIFT_0">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >OP Time Normal Shift 1</th>
            <td class="angka" *matCellDef="let element">{{ element.op_TIME_NORMAL_SHIFT_0 }}</td>
          </ng-container>

          <ng-container matColumnDef="op_TIME_NORMAL_SHIFT_1">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >OP Time Normal Shift 2</th>
            <td class="angka" *matCellDef="let element">{{ element.op_TIME_NORMAL_SHIFT_1 }}</td>
          </ng-container>

          <ng-container matColumnDef="op_TIME_NORMAL_SHIFT_2">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >OP Time Normal Shift 3</th>
            <td class="angka" *matCellDef="let element">{{ element.op_TIME_NORMAL_SHIFT_2 }}</td>
          </ng-container>

          <ng-container matColumnDef="op_TIME_SHIFT_FRIDAY">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >OP Time Shift Friday</th>
            <td class="angka" *matCellDef="let element">{{ element.op_TIME_SHIFT_FRIDAY }}</td>
          </ng-container>

          <ng-container matColumnDef="op_TIME_TOTAL_NORMAL_SHIFT">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >OP Time Total Normal Shift</th>
            <td class="angka" *matCellDef="let element">{{ element.op_TIME_TOTAL_NORMAL_SHIFT }}</td>
          </ng-container>

          <ng-container matColumnDef="op_TIME_TOTAL_SHIFT_FRIDAY">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >OP Time Total Shift Friday</th>
            <td class="angka" *matCellDef="let element">{{ element.op_TIME_TOTAL_SHIFT_FRIDAY }}</td>
          </ng-container>

          <ng-container matColumnDef="kaps_NORMAL_SHIFT_0">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Kapasitas Normal Shift 1</th>
            <td class="angka" *matCellDef="let element">{{ element.kaps_NORMAL_SHIFT_0 }}</td>
          </ng-container>

          <ng-container matColumnDef="kaps_NORMAL_SHIFT_1">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Kapasitas Normal Shift 2</th>
            <td class="angka" *matCellDef="let element">{{ element.kaps_NORMAL_SHIFT_1 }}</td>
          </ng-container>

          <ng-container matColumnDef="kaps_NORMAL_SHIFT_2">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Kapasitas Normal Shift 3</th>
            <td class="angka" *matCellDef="let element">{{ element.kaps_NORMAL_SHIFT_2 }}</td>
          </ng-container>

          <ng-container matColumnDef="kaps_SHIFT_FRIDAY">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Kapasitas Shift Friday</th>
            <td class="angka" *matCellDef="let element">{{ element.kaps_SHIFT_FRIDAY }}</td>
          </ng-container>

          <ng-container matColumnDef="kaps_TOTAL_NORMAL_SHIFT">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Kapasitas Total Normal Shift</th>
            <td class="angka" *matCellDef="let element">{{ element.kaps_TOTAL_NORMAL_SHIFT }}</td>
          </ng-container>

          <ng-container matColumnDef="kaps_TOTAL_SHIFT_FRIDAY">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Kapasitas Total Shift Friday</th>
            <td class="angka" *matCellDef="let element">{{ element.kaps_TOTAL_SHIFT_FRIDAY }}</td>
          </ng-container>

          <ng-container matColumnDef="waktu_TOTAL_CT_NORMAL">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Time Total Cycle Time Normal</th>
            <td class="angka" *matCellDef="let element">{{ element.waktu_TOTAL_CT_NORMAL }}</td>
          </ng-container>

          <ng-container matColumnDef="waktu_TOTAL_CT_FRIDAY">
            <th class="centered-sorted-header" *matHeaderCellDef mat-sort-header >Time Total Cycle Time Friday</th>
            <td class="angka" *matCellDef="let element">{{ element.waktu_TOTAL_CT_FRIDAY }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th style="min-width: 70px;" *matHeaderCellDef mat-sort-header>Status</th>
            <td *matCellDef="let element" [ngClass]="{ 'bg-success': element.status === 1, 'bg-danger': element.status !== 1 }">
              {{ element.status === 1 ? 'Active' : 'Deactive' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action" >
            <th *matHeaderCellDef style="min-width: 200px;">Action</th>
            <td *matCellDef="let element">
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(element.ct_ASSY_ID)">Update</button>
              <button type="button" class="btn btn-md ml-2" [ngClass]="{ 'btn-danger': element.status === 1, 'btn-success': element.status !== 1 }" (click)="element.status === 1 ? deleteData(element) : activateData(element)">
                {{ element.status === 1 ? 'Delete' : 'Active' }}
              </button>
            </td>
          </ng-container>

          <tr align="center" style="height: 20px;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- Pagination -->
      </div>
      <mat-paginator [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Edit CT Assy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body per-hour-wrapper">
        <!-- Form with Reactive Forms -->
        <form [formGroup]="editRoutingMachineForm">
          <div class="form-group per-hour-wrapper-item row">
            <div class="mx-3">
              <div class="form-group">
                <label for="wip">WIP</label>
                  <div>
                    <ng-select2
                      formControlName="wip" 
                      id="wip"
                      name = "wip"
                      [(ngModel)]="edtRoutingMachineObject.wip"
                      [data]="uomOptions[0]"
                      [options]="options"
                      [placeholder]="'Please Select'">
                    </ng-select2>
                  </div>
              </div>
  
              <div class="form-group">
                <label for="description">Description</label>
                <input [(ngModel)]="edtRoutingMachineObject.description" type="text" class="form-control" id="description" formControlName="description" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('description').invalid && editRoutingMachineForm.get('description').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('description').invalid && editRoutingMachineForm.get('description')touched" class="invalid-feedback">Description value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="group_counter">Group Counter</label>
                <input [(ngModel)]="edtRoutingMachineObject.group_COUNTER" type="text" class="form-control" id="description" formControlName="group_counter" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('group_counter').invalid && editRoutingMachineForm.get('group_counter').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('group_counter').invalid && editRoutingMachineForm.get('group_counter')touched" class="invalid-feedback">Group counter value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="var_group_counter">Var Group Counter</label>
                <input [(ngModel)]="edtRoutingMachineObject.var_GROUP_COUNTER" type="text" class="form-control" id="var_group_counter" formControlName="var_group_counter" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('var_group_counter').invalid && editRoutingMachineForm.get('var_group_counter').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('var_group_counter').invalid && editRoutingMachineForm.get('var_group_counter')touched" class="invalid-feedback">Var group counter value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="sequence">Sequence</label>
                <input [(ngModel)]="edtRoutingMachineObject.sequence" type="text" class="form-control" id="sequence" formControlName="sequence" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('sequence').invalid && editRoutingMachineForm.get('sequence').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('sequence').invalid && editRoutingMachineForm.get('sequence')touched" class="invalid-feedback">Sequence value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="wct">WCT</label>
                <input [(ngModel)]="edtRoutingMachineObject.wct" type="text" class="form-control" id="wct" formControlName="wct" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('wct').invalid && editRoutingMachineForm.get('wct').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('wct').invalid && editRoutingMachineForm.get('wct')touched" class="invalid-feedback">WCT value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="operation_SHORT_TEXT">Operation Short Text</label>
                  <div>
                    <ng-select2
                      formControlName="operation_SHORT_TEXT" 
                      id="operation_SHORT_TEXT"
                      name = "operation_SHORT_TEXT"
                      [(ngModel)]="edtRoutingMachineObject.operation_SHORT_TEXT"
                      [data]="uomOptions[1]"
                      [options]="options"
                      [placeholder]="'Please Select'">
                    </ng-select2>
                  </div>
              </div>
              
              <div class="form-group">
                <label for="operation_unit">Operation Unit</label>
                <input [(ngModel)]="edtRoutingMachineObject.operation_UNIT" type="text" class="form-control" id="operation_unit" formControlName="operation_unit" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('operation_unit').invalid && editRoutingMachineForm.get('operation_unit').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('operation_unit').invalid && editRoutingMachineForm.get('operation_unit')touched" class="invalid-feedback">Operation unit value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="base_quantity">Base Quantity</label>
                <input [(ngModel)]="edtRoutingMachineObject.base_QUANTITY" type="text" class="form-control" id="base_quantity" formControlName="base_quantity" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('base_quantity').invalid && editRoutingMachineForm.get('base_quantity').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('base_quantity').invalid && editRoutingMachineForm.get('base_quantity')touched" class="invalid-feedback">Base quantity value is required.</div>
              </div>
            </div>

            <div class="mx-3">
              <div class="form-group">
                <label for="standard_value_unit">Standard Value Unit</label>
                <input [(ngModel)]="edtRoutingMachineObject.standard_VALUE_UNIT" type="text" class="form-control" id="standard_value_unit" formControlName="standard_value_unit" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('standard_value_unit').invalid && editRoutingMachineForm.get('standard_value_unit').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('standard_value_unit').invalid && editRoutingMachineForm.get('standard_value_unit')touched" class="invalid-feedback">Standard value unit value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="CT_sec_1">CT sec 1</label>
                <input [(ngModel)]="edtRoutingMachineObject.ct_SEC_1" type="text" class="form-control" id="CT_sec_1" formControlName="CT_sec_1" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('CT_sec_1').invalid && editRoutingMachineForm.get('CT_sec_1').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('CT_sec_1').invalid && editRoutingMachineForm.get('CT_sec_1')touched" class="invalid-feedback">CT sec 1 value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="CT_hr_1000">CT Hr 1000</label>
                <input [(ngModel)]="edtRoutingMachineObject.ct_HR_1000" type="text" class="form-control" id="CT_hr_1000" formControlName="CT_hr_1000" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('CT_hr_1000').invalid && editRoutingMachineForm.get('CT_hr_1000').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('CT_hr_1000').invalid && editRoutingMachineForm.get('CT_hr_1000')touched" class="invalid-feedback">CT hr 1000 value is required.</div>
              </div>

              <div class="form-group">
                <label for="WH_normal_shift_1">WH Normal Shift 1</label>
                <input [(ngModel)]="edtRoutingMachineObject.wh_NORMAL_SHIFT_0" type="text" class="form-control" id="WH_normal_shift_1" formControlName="WH_normal_shift_1" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('WH_normal_shift_1').invalid && editRoutingMachineForm.get('WH_normal_shift_1').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('WH_normal_shift_1').invalid && editRoutingMachineForm.get('WH_normal_shift_1')touched" class="invalid-feedback">WH normal shift 1 value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="WH_normal_shift_2">WH Normal Shift 2</label>
                <input [(ngModel)]="edtRoutingMachineObject.wh_NORMAL_SHIFT_1" type="text" class="form-control" id="WH_normal_shift_2" formControlName="WH_normal_shift_2" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('WH_normal_shift_2').invalid && editRoutingMachineForm.get('WH_normal_shift_2').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('WH_normal_shift_2').invalid && editRoutingMachineForm.get('WH_normal_shift_2')touched" class="invalid-feedback">WH normal shift 2 value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="WH_normal_shift_3">WH Normal Shift 3</label>
                <input [(ngModel)]="edtRoutingMachineObject.wh_NORMAL_SHIFT_2" type="text" class="form-control" id="WH_normal_shift_3" formControlName="WH_normal_shift_3" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('WH_normal_shift_3').invalid && editRoutingMachineForm.get('WH_normal_shift_3').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('WH_normal_shift_3').invalid && editRoutingMachineForm.get('WH_normal_shift_3')touched" class="invalid-feedback">WH normal shift 3 value is required.</div>
              </div>

              <div class="form-group">
                <label for="WH_shift_jumat">WH Shift Jumat</label>
                <input [(ngModel)]="edtRoutingMachineObject.wh_SHIFT_FRIDAY" type="text" class="form-control" id="WH_shift_jumat" formControlName="WH_shift_jumat" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('WH_shift_jumat').invalid && editRoutingMachineForm.get('WH_shift_jumat').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('WH_shift_jumat').invalid && editRoutingMachineForm.get('WH_shift_jumat')touched" class="invalid-feedback">WH shift friday value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="WH_total_normal_shift">WH Total Normal Shift</label>
                <input [(ngModel)]="edtRoutingMachineObject.wh_TOTAL_NORMAL_SHIFT" type="text" class="form-control" id="WH_total_normal_shift" formControlName="WH_total_normal_shift" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('WH_total_normal_shift').invalid && editRoutingMachineForm.get('WH_total_normal_shift').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('WH_total_normal_shift').invalid && editRoutingMachineForm.get('WH_total_normal_shift')touched" class="invalid-feedback">WH total normal shift value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="WH_total_shift_jumat">WH Total Shift Jumat</label>
                <input [(ngModel)]="edtRoutingMachineObject.wh_TOTAL_SHIFT_FRIDAY" type="text" class="form-control" id="WH_total_shift_jumat" formControlName="WH_total_shift_jumat" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('WH_total_shift_jumat').invalid && editRoutingMachineForm.get('WH_total_shift_jumat').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('WH_total_shift_jumat').invalid && editRoutingMachineForm.get('WH_total_shift_jumat')touched" class="invalid-feedback">WH total shift friday value is required.</div>
              </div>
            </div>

            <div class="mx-3">
              <div class="form-group">
                <label for="allow_normal_shift_1">Allow Normal Shift 1</label>
                <input [(ngModel)]="edtRoutingMachineObject.allow_NORMAL_SHIFT_0" type="text" class="form-control" id="allow_normal_shift_1" formControlName="allow_normal_shift_1" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('allow_normal_shift_1').invalid && editRoutingMachineForm.get('allow_normal_shift_1').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('allow_normal_shift_1').invalid && editRoutingMachineForm.get('allow_normal_shift_1')touched" class="invalid-feedback">Allow normal shift 1 value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="allow_normal_shift_2">Allow Normal Shift 2</label>
                <input [(ngModel)]="edtRoutingMachineObject.allow_NORMAL_SHIFT_1" type="text" class="form-control" id="allow_normal_shift_2" formControlName="allow_normal_shift_2" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('allow_normal_shift_2').invalid && editRoutingMachineForm.get('allow_normal_shift_2').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('allow_normal_shift_2').invalid && editRoutingMachineForm.get('allow_normal_shift_2')touched" class="invalid-feedback">Allow normal shift 2 value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="allow_normal_shift_3">Allow Normal Shift 3</label>
                <input [(ngModel)]="edtRoutingMachineObject.allow_NORMAL_SHIFT_2" type="text" class="form-control" id="allow_normal_shift_3" formControlName="allow_normal_shift_3" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('allow_normal_shift_3').invalid && editRoutingMachineForm.get('allow_normal_shift_3').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('allow_normal_shift_3').invalid && editRoutingMachineForm.get('allow_normal_shift_3')touched" class="invalid-feedback">Allow normal shift 3 value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="allow_total">Allow Total</label>
                <input [(ngModel)]="edtRoutingMachineObject.allow_TOTAL" type="text" class="form-control" id="allow_total" formControlName="allow_total" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('allow_total').invalid && editRoutingMachineForm.get('allow_total').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('allow_total').invalid && editRoutingMachineForm.get('allow_total')touched" class="invalid-feedback">Allow total value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="OP_time_normal_shift_1">OP Time Normal Shift 1</label>
                <input [(ngModel)]="edtRoutingMachineObject.op_TIME_NORMAL_SHIFT_0" type="text" class="form-control" id="OP_time_normal_shift_1" formControlName="OP_time_normal_shift_1" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('OP_time_normal_shift_1').invalid && editRoutingMachineForm.get('OP_time_normal_shift_1').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('OP_time_normal_shift_1').invalid && editRoutingMachineForm.get('OP_time_normal_shift_1')touched" class="invalid-feedback">OP time normal shift 1 value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="OP_time_normal_shift_2">OP Time Normal Shift 2</label>
                <input [(ngModel)]="edtRoutingMachineObject.op_TIME_NORMAL_SHIFT_1" type="text" class="form-control" id="OP_time_normal_shift_2" formControlName="OP_time_normal_shift_2" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('OP_time_normal_shift_2').invalid && editRoutingMachineForm.get('OP_time_normal_shift_2').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('OP_time_normal_shift_2').invalid && editRoutingMachineForm.get('OP_time_normal_shift_2')touched" class="invalid-feedback">OP time normal shift 2 value is required.</div>
              </div>
              
              <div class="form-group">
                <label for="OP_time_normal_shift_3">OP Time Normal Shift 3</label>
                <input [(ngModel)]="edtRoutingMachineObject.op_TIME_NORMAL_SHIFT_2" type="text" class="form-control" id="OP_time_normal_shift_3" formControlName="OP_time_normal_shift_3" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('OP_time_normal_shift_3').invalid && editRoutingMachineForm.get('OP_time_normal_shift_3').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('OP_time_normal_shift_3').invalid && editRoutingMachineForm.get('OP_time_normal_shift_3')touched" class="invalid-feedback">OP time normal shift 3 value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="OP_time_shift_jumat">OP Time Shift Jumat</label>
                <input [(ngModel)]="edtRoutingMachineObject.op_TIME_SHIFT_FRIDAY" type="text" class="form-control" id="OP_time_shift_jumat" formControlName="OP_time_shift_jumat" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('OP_time_shift_jumat').invalid && editRoutingMachineForm.get('OP_time_shift_jumat').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('OP_time_shift_jumat').invalid && editRoutingMachineForm.get('OP_time_shift_jumat')touched" class="invalid-feedback">OP time shift friday value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="OP_time_total_normal_shift"> OP Time Total Normal Shift</label>
                <input [(ngModel)]="edtRoutingMachineObject.op_TIME_TOTAL_NORMAL_SHIFT" type="text" class="form-control" id="OP_time_total_normal_shift" formControlName="OP_time_total_normal_shift" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('OP_time_total_normal_shift').invalid && editRoutingMachineForm.get('OP_time_total_normal_shift').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('OP_time_total_normal_shift').invalid && editRoutingMachineForm.get('OP_time_total_normal_shift')touched" class="invalid-feedback">OP time total normal shift value is required.</div>
              </div>
            </div>

            <div class="mx-3">
            
              <div class="form-group">
                <label for="OP_time_total_shift_jumat">OP Time Total Shift Jumat</label>
                <input [(ngModel)]="edtRoutingMachineObject.op_TIME_TOTAL_SHIFT_FRIDAY" type="text" class="form-control" id="OP_time_total_shift_jumat" formControlName="OP_time_total_shift_jumat" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('OP_time_total_shift_jumat').invalid && editRoutingMachineForm.get('OP_time_total_shift_jumat').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('OP_time_total_shift_jumat').invalid && editRoutingMachineForm.get('OP_time_total_shift_jumat')touched" class="invalid-feedback">OP time total shift jumat value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="kaps_normal_shift_1">Kaps Normal Shift 1</label>
                <input [(ngModel)]="edtRoutingMachineObject.kaps_NORMAL_SHIFT_0" type="text" class="form-control" id="kaps_normal_shift_1" formControlName="kaps_normal_shift_1" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('kaps_normal_shift_1').invalid && editRoutingMachineForm.get('kaps_normal_shift_1').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('kaps_normal_shift_1').invalid && editRoutingMachineForm.get('kaps_normal_shift_1')touched" class="invalid-feedback">Kaps normal shift 1 value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="kaps_normal_shift_2">Kaps Normal Shift 2</label>
                <input [(ngModel)]="edtRoutingMachineObject.kaps_NORMAL_SHIFT_1" type="text" class="form-control" id="kaps_normal_shift_2" formControlName="kaps_normal_shift_2" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('kaps_normal_shift_2').invalid && editRoutingMachineForm.get('kaps_normal_shift_2').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('kaps_normal_shift_2').invalid && editRoutingMachineForm.get('kaps_normal_shift_2')touched" class="invalid-feedback">Kaps normal shift 2 value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="kaps_normal_shift_3">Kaps Normal Shift 3</label>
                <input [(ngModel)]="edtRoutingMachineObject.kaps_NORMAL_SHIFT_2" type="text" class="form-control" id="kaps_normal_shift_3" formControlName="kaps_normal_shift_3" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('kaps_normal_shift_3').invalid && editRoutingMachineForm.get('kaps_normal_shift_3').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('kaps_normal_shift_3').invalid && editRoutingMachineForm.get('kaps_normal_shift_3')touched" class="invalid-feedback">Kaps normal shift 3 value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="kaps_shift_jumat">Kaps Shift Jumat</label>
                <input [(ngModel)]="edtRoutingMachineObject.kaps_SHIFT_FRIDAY" type="text" class="form-control" id="kaps_shift_jumat" formControlName="kaps_shift_jumat" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('kaps_shift_jumat').invalid && editRoutingMachineForm.get('kaps_shift_jumat').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('kaps_shift_jumat').invalid && editRoutingMachineForm.get('kaps_shift_jumat')touched" class="invalid-feedback">Kaps shift friday value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="kaps_total_normal_shift">Kaps Total Normal Shift</label>
                <input [(ngModel)]="edtRoutingMachineObject.kaps_TOTAL_NORMAL_SHIFT" type="text" class="form-control" id="kaps_total_normal_shift" formControlName="kaps_total_normal_shift" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('kaps_total_normal_shift').invalid && editRoutingMachineForm.get('kaps_total_normal_shift').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('kaps_total_normal_shift').invalid && editRoutingMachineForm.get('kaps_total_normal_shift')touched" class="invalid-feedback">Kaps total normal shift value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="kaps_total_shift_jumat">Kaps Total Shift Jumat</label>
                <input [(ngModel)]="edtRoutingMachineObject.kaps_TOTAL_SHIFT_FRIDAY" type="text" class="form-control" id="kaps_total_shift_jumat" formControlName="kaps_total_shift_jumat" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('kaps_total_shift_jumat').invalid && editRoutingMachineForm.get('kaps_total_shift_jumat').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('kaps_total_shift_jumat').invalid && editRoutingMachineForm.get('kaps_total_shift_jumat')touched" class="invalid-feedback">Kaps total shift friday value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="waktu_total_CT_normal">Waktu Total CT Normal</label>
                <input [(ngModel)]="edtRoutingMachineObject.waktu_TOTAL_CT_NORMAL" type="text" class="form-control" id="waktu_total_CT_normal" formControlName="waktu_total_CT_normal" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('waktu_total_CT_normal').invalid && editRoutingMachineForm.get('waktu_total_CT_normal').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('waktu_total_CT_normal').invalid && editRoutingMachineForm.get('waktu_total_CT_normal')touched" class="invalid-feedback">Time total CT normal value is required.</div>
              </div>
            
              <div class="form-group">
                <label for="waktu_total_CT_jumat">waktu Total CT Jumat</label>
                <input [(ngModel)]="edtRoutingMachineObject.waktu_TOTAL_CT_FRIDAY" type="text" class="form-control" id="waktu_total_CT_jumat" formControlName="waktu_total_CT_jumat" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editRoutingMachineForm.get('waktu_total_CT_jumat').invalid && editRoutingMachineForm.get('waktu_total_CT_jumat').touched }" />
                <!-- Error message if plantName is empty -->
                <div *ngIf="editRoutingMachineForm.get('waktu_total_CT_jumat').invalid && editRoutingMachineForm.get('waktu_total_CT_jumat')touched" class="invalid-feedback">Time total CT jumat value is required.</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Disable Update button if form is invalid -->
        <button type="button" class="btn btn-primary" [disabled]="editRoutingMachineForm.invalid" (click)="updateCtAssy()">Update CT Assy</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Upload Excel -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 500px; display: flex; transform: translateX(0px);">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <!-- Manual File Input -->
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
      </div>
    </div>
  </div>
</div>
