.table-wrapper {
    width: 100%;
    overflow-x: auto;
}
::ng-deep .mat-sort-header-container {
    justify-content: center;
}

.table th {
    min-width: 250px;
    text-align: center;
    align-items: center;
}

.angka{
    text-align: right;
}

.huruf {
    text-align: left;
}
.per-hour-wrapper {
    display: flex;           /* Use flexbox for horizontal layout */
    flex-wrap: wrap;         /* Allow wrapping if there are too many items */
    justify-content: center;
}

.per-hour-wrapper-item {
    flex: 0 0 calc(100%);  /* Each item takes up half the width minus the gap */
    box-sizing: border-box;      /* Ensure padding and border are included in width */
}
.modal-content {
    width: 1300px;
    display: flex;
    // justify-content: center;
    transform: translateX(-350px);
}