<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Machine Allowence</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="mb-3 form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="mb-3 btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="mb-3 btn btn-primary ml-2" (click)="templateExcel()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="mb-3 btn btn-primary ml-2" (click)="downloadExcel()"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="mb-3 btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
          <ng-container matColumnDef="no" >
            <th *matHeaderCellDef style="min-width: 50px;" >No</th>
            <td  *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="machine_ALLOW_ID">
            <th class="centered-sorted-header" style="min-width: 150px;" *matHeaderCellDef mat-sort-header >Machine Allow ID</th>
            <td *matCellDef="let element">{{ element.machine_ALLOW_ID }}</td>
          </ng-container>

          <ng-container matColumnDef="id_MACHINE">
            <th style="min-width: 300px;" *matHeaderCellDef mat-sort-header >ID Machine</th>
            <td class="huruf" *matCellDef="let element">{{ element.id_MACHINE }}</td>
          </ng-container>
          
          <ng-container matColumnDef="person_RESPONSIBLE">
            <th  *matHeaderCellDef mat-sort-header >Person Responsible</th>
            <td class="huruf" *matCellDef="let element">{{ element.person_RESPONSIBLE }}</td>
          </ng-container>
          
          <ng-container matColumnDef="shift_1">
            <th  *matHeaderCellDef mat-sort-header style="min-width: 80px;">Shift 1</th>
            <td class="angka" *matCellDef="let element">{{ element.shift_1 }}</td>
          </ng-container>

          <ng-container matColumnDef="shift_2">
            <th  *matHeaderCellDef mat-sort-header style="min-width: 80px;">Shift 2</th>
            <td class="angka" *matCellDef="let element">{{ element.shift_2 }}</td>
          </ng-container>

          <ng-container matColumnDef="shift_3">
            <th  *matHeaderCellDef mat-sort-header style="min-width: 80px;">Shift 3</th>
            <td class="angka" *matCellDef="let element">{{ element.shift_3 }}</td>
          </ng-container>

          <ng-container matColumnDef="shift_1_FRIDAY">
            <th  *matHeaderCellDef mat-sort-header style="min-width: 120px;">Shift 1 Friday</th>
            <td class="angka" *matCellDef="let element">{{ element.shift_1_FRIDAY }}</td>
          </ng-container>

          <ng-container matColumnDef="total_SHIFT_123">
            <th  *matHeaderCellDef mat-sort-header style="min-width: 130px;">Total Shift 123</th>
            <td class="angka" *matCellDef="let element">{{ element.total_SHIFT_123 }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-sort-header *matHeaderCellDef style="min-width: 70px;">Status</th>
            <td *matCellDef="let element" [ngClass]="{ 'bg-success': element.status === 1, 'bg-danger': element.status !== 1 }">
              {{ element.status === 1 ? 'Active' : 'Deactive' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action" >
            <th *matHeaderCellDef style="min-width: 200px;">Action</th>
            <td *matCellDef="let element">
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(element.machine_ALLOW_ID)">Update</button>
              <button type="button" class="btn btn-md ml-2" [ngClass]="{ 'btn-danger': element.status === 1, 'btn-success': element.status !== 1 }" (click)="element.status === 1 ? deleteData(element) : activateData(element)">
                {{ element.status === 1 ? 'Delete' : 'Active' }}
              </button>
            </td>
          </ng-container>

          <tr align="center" style="height: 20px;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- Pagination -->
      </div>
      <mat-paginator [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Edit Machine Allowence</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form with Reactive Forms -->
        <form [formGroup]="editMachineAllowenceForm">
          <div class="form-group">
            <label for="idMachine" style="min-width: 150px;">ID Machine</label>
            <div>
              <ng-select2
                formControlName="idMachine" 
                id="idMachine"
                name = "idMachine"
                [(ngModel)]="edtMachineAllowenceObject.id_MACHINE"
                [data]="uomOptions"
                [options]="options"
                [placeholder]="'Please Select'">
              </ng-select2>
            </div>
          </div>
          <div class="form-group">
            <label for="personResponsible">Person Responsible</label>
            <input [(ngModel)]="edtMachineAllowenceObject.person_RESPONSIBLE" maxlength="9" type="text" class="form-control" id="personResponsible" formControlName="personResponsible" [ngClass]="{ 'is-invalid': editMachineAllowenceForm.get('personResponsible').invalid && editMachineAllowenceForm.get('personResponsible').touched }" />
            <!-- Error message if plantName is empty -->
            <div *ngIf="editMachineAllowenceForm.get('personResponsible').invalid && editMachineAllowenceForm.get('personResponsible').touched" class="invalid-feedback">Person Responsible is required.</div>
          </div>
          <div class="form-group">
            <label for="shift1">Shift 1</label>
            <input [(ngModel)]="edtMachineAllowenceObject.shift_1" maxlength="9" type="text" class="form-control" id="shift1" formControlName="shift1" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editMachineAllowenceForm.get('shift1').invalid && editMachineAllowenceForm.get('shift1').touched }" />
            <!-- Error message if plantName is empty -->
            <div *ngIf="editMachineAllowenceForm.get('shift1').invalid && editMachineAllowenceForm.get('shift1').touched" class="invalid-feedback">Shift 1 is required.</div>
          </div>
          <div class="form-group">
            <label for="shift2">Shift 2</label>
            <input [(ngModel)]="edtMachineAllowenceObject.shift_2" maxlength="9" type="text" class="form-control" id="shift2" formControlName="shift2" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editMachineAllowenceForm.get('shift2').invalid && editMachineAllowenceForm.get('shift2').touched }" />
            <!-- Error message if plantName is empty -->
            <div *ngIf="editMachineAllowenceForm.get('shift2').invalid && editMachineAllowenceForm.get('shift2').touched" class="invalid-feedback">Shift 2 is required.</div>
          </div>
          <div class="form-group">
            <label for="shift3">Shift 3</label>
            <input [(ngModel)]="edtMachineAllowenceObject.shift_3" maxlength="9" type="text" class="form-control" id="shift3" formControlName="shift3" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editMachineAllowenceForm.get('shift3').invalid && editMachineAllowenceForm.get('shift3').touched }" />
            <!-- Error message if plantName is empty -->
            <div *ngIf="editMachineAllowenceForm.get('shift3').invalid && editMachineAllowenceForm.get('shift3').touched" class="invalid-feedback">Shift 3 is required.</div>
          </div>
          <div class="form-group">
            <label for="shift1Friday">Shift 1 Friday</label>
            <input [(ngModel)]="edtMachineAllowenceObject.shift_1_FRIDAY" maxlength="9" type="text" class="form-control" id="shift1Friday" formControlName="shift1Friday" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editMachineAllowenceForm.get('shift1Friday').invalid && editMachineAllowenceForm.get('shift1Friday').touched }" />
            <!-- Error message if plantName is empty -->
            <div *ngIf="editMachineAllowenceForm.get('shift1Friday').invalid && editMachineAllowenceForm.get('shift1Friday').touched" class="invalid-feedback">Shift 1 friday  is required.</div>
          </div>
          <div class="form-group">
            <label for="totalShift123">Total Shift 123</label>
            <input [(ngModel)]="edtMachineAllowenceObject.total_SHIFT_123" maxlength="9" type="text" class="form-control" id="totalShift123" formControlName="totalShift123"  (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': editMachineAllowenceForm.get('totalShift123').invalid && editMachineAllowenceForm.get('totalShift123').touched }" />
            <!-- Error message if plantName is empty -->
            <div *ngIf="editMachineAllowenceForm.get('totalShift123').invalid && editMachineAllowenceForm.get('totalShift123').touched" class="invalid-feedback">Total Shift 123 is required.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Disable Update button if form is invalid -->
        <button type="button" class="btn btn-primary" [disabled]="editMachineAllowenceForm.invalid" (click)="updateMachineAllowence()">Update Machine Allowence</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Upload Excel -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <!-- Manual File Input -->
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
      </div>
    </div>
  </div>
</div>
