.custom-height {
  height: 28px;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

.locked-background {
  background-color: red;
}

.mat-cell {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1;
}

.mat-cell:last-of-type{
  padding-right: 5px;
}

.mat-cell:first-of-type{
  padding-left: 5px;
}

.min-height-form {
  min-height: 80px;
}

.table-responsive {
  max-height: 1200px;
}

.table {
  border-collapse: separate;
}
