<div class="animated fadeIn">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;Monthly Planning</strong>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText"
              (input)="onSearchChange()" placeholder="Find here..." />
            <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
          </div>
          <button class="btn btn-success" (click)="navigateToAdd()" id="addButton">Add</button>
        </div>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
            <!-- No Column -->
            <ng-container matColumnDef="issueDate">
              <th *matHeaderCellDef style="min-width: 150px" mat-sort-header>Issue Date</th>
              <td *matCellDef="let mp">{{parseDate(mp.issueDate)}}</td>
            </ng-container>

            <ng-container matColumnDef="no">
              <th *matHeaderCellDef style="min-width: 50px">No</th>
              <td *matCellDef="let mp; let i = index">{{ i + 1 }}</td>
            </ng-container>

            <!-- MP ID Column -->
            <ng-container matColumnDef="MONTH">
              <th *matHeaderCellDef style="min-width: 170px" mat-sort-header>Month</th>
              <td *matCellDef="let mp">{{ parseDate(mp.MONTH) }}</td>
            </ng-container>

            <ng-container matColumnDef="TOTAL_PLAN_SUM">
              <th *matHeaderCellDef style="min-width: 170px" mat-sort-header>Total Plan</th>
              <td *matCellDef="let mp">{{mp.TOTAL_PLAN_SUM | number | replaceComma }}</td>
            </ng-container>

            <ng-container matColumnDef="TOTAL_MO_MONTH_0">
              <th *matHeaderCellDef style="min-width: 170px" mat-sort-header>Total MO</th>
              <td *matCellDef="let mp">{{ mp.TOTAL_MO_MONTH_0 | number | replaceComma }}</td>
            </ng-container>

            <!-- issueDate Column -->

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th *matHeaderCellDef style="min-width: 250px">Action</th>
              <td *matCellDef="let mp">
                <button type="button" (click)="exportExcelMP(mp)" class="btn btn-md btn-success ml-2">Print</button>
              </td>
            </ng-container>
            <tr align="center" style="height: 20px" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
