<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Data CT Curing</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="btn btn-primary ml-2" (click)="tamplateExcel()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="btn btn-primary ml-2" (click)="downloadExcel()"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
          <!-- No Column -->
          <ng-container matColumnDef="no">
            <th *matHeaderCellDef style="min-width: 50px" mat-sort-header>No</th>
            <td *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- WIP Column -->
          <ng-container matColumnDef="wip">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>WIP</th>
            <td align="left" *matCellDef="let element">{{ element.wip }}</td>
          </ng-container>

          <!-- Group Counter Column -->
          <ng-container matColumnDef="group_COUNTER">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Group Counter</th>
            <td align="left" *matCellDef="let element">{{ element.group_COUNTER }}</td>
          </ng-container>

          <!-- Var Group Counter Column -->
          <ng-container matColumnDef="var_GROUP_COUNTER">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Var Group Counter</th>
            <td align="left" *matCellDef="let element">{{ element.var_GROUP_COUNTER }}</td>
          </ng-container>

          <!-- Sequence Column -->
          <ng-container matColumnDef="sequence">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Sequence</th>
            <td align="right" *matCellDef="let element">{{ element.sequence }}</td>
          </ng-container>

          <!-- WCT Column -->
          <ng-container matColumnDef="wct">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>WCT</th>
            <td align="left" *matCellDef="let element">{{ element.wct }}</td>
          </ng-container>

          <!-- Operation Short Text Column -->
          <ng-container matColumnDef="operation_SHORT_TEXT">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Operation Short Text</th>
            <td align="left" *matCellDef="let element">{{ element.operation_SHORT_TEXT }}</td>
          </ng-container>

          <!-- Operation Unit Column -->
          <ng-container matColumnDef="operation_UNIT">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Operation Unit</th>
            <td align="left" *matCellDef="let element">{{ element.operation_UNIT }}</td>
          </ng-container>

          <!-- Base Quantity Column -->
          <ng-container matColumnDef="base_QUANTITY">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Base Quantity</th>
            <td align="right" *matCellDef="let element">{{ element.base_QUANTITY }}</td>
          </ng-container>

          <!-- Standard Value Unit Column -->
          <ng-container matColumnDef="standart_VALUE_UNIT">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Standard Value Unit</th>
            <td align="left" *matCellDef="let element">{{ element.standart_VALUE_UNIT }}</td>
          </ng-container>

          <!-- CT Sec 1 Column -->
          <ng-container matColumnDef="ct_SEC1">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>CT Sec 1</th>
            <td align="right" *matCellDef="let element">{{ element.ct_SEC1 }}</td>
          </ng-container>

          <!-- CT HR 1000 Column -->
          <ng-container matColumnDef="ct_HR1000">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>CT HR 1000</th>
            <td align="right" *matCellDef="let element">{{ element.ct_HR1000 }}</td>
          </ng-container>

          <!-- WH Normal Shift 1 Column -->
          <ng-container matColumnDef="wh_NORMAL_SHIFT_1">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>WH Normal Shift 1</th>
            <td align="right" *matCellDef="let element">{{ element.wh_NORMAL_SHIFT_0 }}</td>
          </ng-container>

          <!-- WH Normal Shift 2 Column -->
          <ng-container matColumnDef="wh_NORMAL_SHIFT_2">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>WH Normal Shift 2</th>
            <td align="right" *matCellDef="let element">{{ element.wh_NORMAL_SHIFT_1 }}</td>
          </ng-container>

          <!-- WH Normal Shift 3 Column -->
          <ng-container matColumnDef="wh_NORMAL_SHIFT_3">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>WH Normal Shift 3</th>
            <td align="right" *matCellDef="let element">{{ element.wh_NORMAL_SHIFT_2 }}</td>
          </ng-container>

          <!-- WH Shift FRIDAY Column -->
          <ng-container matColumnDef="wh_SHIFT_FRIDAY">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>WH Shift FRIDAY</th>
            <td align="right" *matCellDef="let element">{{ element.wh_SHIFT_FRIDAY }}</td>
          </ng-container>

          <!-- WH Total Normal Shift Column -->
          <ng-container matColumnDef="wh_TOTAL_NORMAL_SHIFT">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>WH Total Normal Shift</th>
            <td align="right" *matCellDef="let element">{{ element.wh_TOTAL_NORMAL_SHIFT }}</td>
          </ng-container>

          <!-- WH Total Shift FRIDAY Column -->
          <ng-container matColumnDef="wh_TOTAL_SHIFT_FRIDAY">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>WH Total Shift FRIDAY</th>
            <td align="right" *matCellDef="let element">{{ element.wh_TOTAL_SHIFT_FRIDAY }}</td>
          </ng-container>

          <!-- Allow Normal Shift 1 Column -->
          <ng-container matColumnDef="allow_NORMAL_SHIFT_1">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Allow Normal Shift 1</th>
            <td align="right" *matCellDef="let element">{{ element.allow_NORMAL_SHIFT_0 }}</td>
          </ng-container>

          <!-- Allow Normal Shift 2 Column -->
          <ng-container matColumnDef="allow_NORMAL_SHIFT_2">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Allow Normal Shift 2</th>
            <td align="right" *matCellDef="let element">{{ element.allow_NORMAL_SHIFT_1 }}</td>
          </ng-container>

          <!-- Allow Normal Shift 3 Column -->
          <ng-container matColumnDef="allow_NORMAL_SHIFT_3">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Allow Normal Shift 3</th>
            <td align="right" *matCellDef="let element">{{ element.allow_NORMAL_SHIFT_2 }}</td>
          </ng-container>

          <!-- Allow Total Column -->
          <ng-container matColumnDef="allow_TOTAL">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Allow Total</th>
            <td align="right" *matCellDef="let element">{{ element.allow_TOTAL }}</td>
          </ng-container>

          <!-- OP Time Normal Shift 0 Column -->
          <ng-container matColumnDef="op_TIME_NORMAL_SHIFT_1">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>OP Time Normal Shift 1</th>
            <td align="right" *matCellDef="let element">{{ element.op_TIME_NORMAL_SHIFT_0 }}</td>
          </ng-container>

          <!-- OP Time Normal Shift 1 Column -->
          <ng-container matColumnDef="op_TIME_NORMAL_SHIFT_2">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>OP Time Normal Shift 2</th>
            <td align="right" *matCellDef="let element">{{ element.op_TIME_NORMAL_SHIFT_1 }}</td>
          </ng-container>

          <!-- OP Time Normal Shift 2 Column -->
          <ng-container matColumnDef="op_TIME_NORMAL_SHIFT_3">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>OP Time Normal Shift 3</th>
            <td align="right" *matCellDef="let element">{{ element.op_TIME_NORMAL_SHIFT_2 }}</td>
          </ng-container>

          <!-- OP Time Shift FRIDAY Column -->
          <ng-container matColumnDef="op_TIME_SHIFT_FRIDAY">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>OP Time Shift FRIDAY</th>
            <td align="right" *matCellDef="let element">{{ element.op_TIME_SHIFT_FRIDAY }}</td>
          </ng-container>

          <!-- OP Time Total Normal Shift Column -->
          <ng-container matColumnDef="op_TIME_NORMAL_SHIFT">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>OP Time Normal Shift</th>
            <td align="right" *matCellDef="let element">{{ element.op_TIME_NORMAL_SHIFT }}</td>
          </ng-container>

          <!-- OP Time Total Shift FRIDAY Column -->
          <ng-container matColumnDef="op_TIME_TOTAL_SHIFT_FRIDAY">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>OP Time Total Shift FRIDAY</th>
            <td align="right" *matCellDef="let element">{{ element.op_TIME_TOTAL_SHIFT_FRIDAY }}</td>
          </ng-container>

          <!-- Kaps Normal Shift 0 Column -->
          <ng-container matColumnDef="kaps_NORMAL_SHIFT_1">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Kaps Normal Shift 1</th>
            <td align="right" *matCellDef="let element">{{ element.kaps_NORMAL_SHIFT_0 }}</td>
          </ng-container>

          <!-- Kaps Normal Shift 1 Column -->
          <ng-container matColumnDef="kaps_NORMAL_SHIFT_2">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Kaps Normal Shift 2</th>
            <td align="right" *matCellDef="let element">{{ element.kaps_NORMAL_SHIFT_1 }}</td>
          </ng-container>

          <!-- Kaps Normal Shift 2 Column -->
          <ng-container matColumnDef="kaps_NORMAL_SHIFT_3">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Kaps Normal Shift 3</th>
            <td align="right" *matCellDef="let element">{{ element.kaps_NORMAL_SHIFT_2 }}</td>
          </ng-container>

          <!-- Kaps Shift Friday Column -->
          <ng-container matColumnDef="kaps_SHIFT_FRIDAY">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Kaps Shift Friday</th>
            <td align="right" *matCellDef="let element">{{ element.kaps_SHIFT_FRIDAY }}</td>
          </ng-container>

          <!-- Kaps Total Normal Shift Column -->
          <ng-container matColumnDef="kaps_TOTAL_NORMAL_SHIFT">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Kaps Total Normal Shift</th>
            <td align="right" *matCellDef="let element">{{ element.kaps_TOTAL_NORMAL_SHIFT }}</td>
          </ng-container>

          <!-- Kaps Total Shift Friday Column -->
          <ng-container matColumnDef="kaps_TOTAL_SHIFT_FRIDAY">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Kaps Total Shift Friday</th>
            <td align="right" *matCellDef="let element">{{ element.kaps_TOTAL_SHIFT_FRIDAY }}</td>
          </ng-container>

          <!-- Waktu Total CT Normal Column -->
          <ng-container matColumnDef="waktu_TOTAL_CT_NORMAL">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Waktu Total CT Normal</th>
            <td align="right" *matCellDef="let element">{{ element.waktu_TOTAL_CT_NORMAL }}</td>
          </ng-container>

          <!-- Waktu Total CT Friday Column -->
          <ng-container matColumnDef="waktu_TOTAL_CT_FRIDAY">
            <th *matHeaderCellDef style="min-width: 200px" mat-sort-header>Waktu Total CT Friday</th>
            <td align="right" *matCellDef="let element">{{ element.waktu_TOTAL_CT_FRIDAY }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef style="min-width: 120px" mat-sort-header>Status</th>
            <td *matCellDef="let element" [ngClass]="{ 'bg-success': element.status === 1, 'bg-danger': element.status !== 1 }">
              {{ element.status === 1 ? 'Active' : 'Deactive' }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef style="min-width: 200px">Action</th>
            <td *matCellDef="let element">
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(element.ct_CURING_ID)">Update</button>
              <button type="button" class="btn btn-md ml-2" [ngClass]="{ 'btn-danger': element.status === 1, 'btn-success': element.status !== 1 }" (click)="element.status === 1 ? deleteData(element) : activateData(element)">
                {{ element.status === 1 ? 'Delete' : 'Active' }}
              </button>
            </td>
          </ng-container>

          <!-- Table Header and Rows -->
          <tr align="center" style="height: 20px" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <!-- Pagination -->
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <!-- Modal edit -->
      <div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content edit">
            <div class="modal-header">
              <h5 class="modal-title" id="addModalLabel">Edit CT Curing</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body per-hour-wrapper">
              <!-- Form with Reactive Forms -->
              <form [formGroup]="editCTCuringForm">
                <div class="form-group per-hour-wrapper-item row">
                  <div class="mx-3">
                    <div class="form-group">
                      <h6 for="wip">WIP</h6>
                      <div class="col-md-13">
                        <ng-select2 id="wip" name="wip" formControlName="wip" [(ngModel)]="edtCTCuringObject.wip" [data]="uomOptionData[0]" [options]="options"> </ng-select2>
                      </div>
                      <div *ngIf="editCTCuringForm.get('wip').invalid && editCTCuringForm.get('wip').touched" class="invalid-feedback">WIP is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="groupcounter">Group Counter</h6>
                      <input [(ngModel)]="edtCTCuringObject.group_COUNTER" type="text" maxlength="19" class="form-control" id="groupcounter" formControlName="groupcounter" [ngClass]="{ 'is-invalid': editCTCuringForm.get('groupcounter').invalid && editCTCuringForm.get('groupcounter').touched }" />
                      <div *ngIf="editCTCuringForm.get('groupcounter').invalid && editCTCuringForm.get('groupcounter').touched" class="invalid-feedback">Group Counter is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="vargroupcounter">Var Group Counter</h6>
                      <input [(ngModel)]="edtCTCuringObject.var_GROUP_COUNTER" maxlength="9" type="text" class="form-control" id="vargroupcounter" formControlName="vargroupcounter" [ngClass]="{ 'is-invalid': editCTCuringForm.get('vargroupcounter').invalid && editCTCuringForm.get('vargroupcounter').touched }" />
                      <div *ngIf="editCTCuringForm.get('vargroupcounter').invalid && editCTCuringForm.get('vargroupcounter').touched" class="invalid-feedback">Var Group Counter is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="sequence">Sequence</h6>
                      <input [(ngModel)]="edtCTCuringObject.sequence" maxlength="19" type="text" (keypress)="validateNumberInput($event)" class="form-control" id="sequence" formControlName="sequence" [ngClass]="{ 'is-invalid': editCTCuringForm.get('sequence').invalid && editCTCuringForm.get('sequence').touched }" />
                      <div *ngIf="editCTCuringForm.get('sequence').invalid && editCTCuringForm.get('sequence').touched" class="invalid-feedback">Sequence is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="wct">WCT</h6>
                      <input [(ngModel)]="edtCTCuringObject.wct" type="text" maxlength="19" class="form-control" id="wct" formControlName="wct" [ngClass]="{ 'is-invalid': editCTCuringForm.get('wct').invalid && editCTCuringForm.get('wct').touched }" />
                      <div *ngIf="editCTCuringForm.get('wct').invalid && editCTCuringForm.get('wct').touched" class="invalid-feedback">WCT is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="operationshorttext">Operation Short Text</h6>
                      <div class="col-md-13">
                        <ng-select2 id="operationshorttext" name="operationshorttext" formControlName="operationshorttext" [(ngModel)]="edtCTCuringObject.operation_SHORT_TEXT" [data]="uomOptionData[1]" [options]="options"> </ng-select2>
                      </div>
                      <div *ngIf="editCTCuringForm.get('operationshorttext').invalid && editCTCuringForm.get('operationshorttext').touched" class="invalid-feedback">Operation Short Text is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="operationunit">Operation Unit</h6>
                      <input [(ngModel)]="edtCTCuringObject.operation_UNIT" maxlength="9" type="text" class="form-control" id="operationunit" formControlName="operationunit" [ngClass]="{ 'is-invalid': editCTCuringForm.get('operationunit').invalid && editCTCuringForm.get('operationunit').touched }" />
                      <div *ngIf="editCTCuringForm.get('operationunit').invalid && editCTCuringForm.get('operationunit').touched" class="invalid-feedback">Operation Unit is required.</div>
                    </div>
                  </div>

                  <div class="mx-3">
                    <div class="form-group">
                      <h6 for="basequantity">Base Quantity</h6>
                      <input [(ngModel)]="edtCTCuringObject.base_QUANTITY" type="text" maxlength="19" (keypress)="validateNumberInput($event)" class="form-control" id="basequantity" formControlName="basequantity" [ngClass]="{ 'is-invalid': editCTCuringForm.get('basequantity').invalid && editCTCuringForm.get('basequantity').touched }" />
                      <div *ngIf="editCTCuringForm.get('basequantity').invalid && editCTCuringForm.get('basequantity').touched" class="invalid-feedback">Base Quantity is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="standardvalueunit">Standard Value Unit</h6>
                      <input [(ngModel)]="edtCTCuringObject.standart_VALUE_UNIT" maxlength="9" type="text" class="form-control" id="standardvalueunit" formControlName="standardvalueunit" [ngClass]="{ 'is-invalid': editCTCuringForm.get('standardvalueunit').invalid && editCTCuringForm.get('standardvalueunit').touched }" />
                      <div *ngIf="editCTCuringForm.get('standardvalueunit').invalid && editCTCuringForm.get('standardvalueunit').touched" class="invalid-feedback">Standard Value Unit is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="ctsec1">CT Sec 1</h6>
                      <input [(ngModel)]="edtCTCuringObject.ct_SEC1" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="ctsec1" formControlName="ctsec1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('ctsec1').invalid && editCTCuringForm.get('ctsec1').touched }" />
                      <div *ngIf="editCTCuringForm.get('ctsec1').invalid && editCTCuringForm.get('ctsec1').touched" class="invalid-feedback">CT Sec 1 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="cthr1000">CT HR 1000</h6>
                      <input [(ngModel)]="edtCTCuringObject.ct_HR1000" type="text" maxlength="19" (keypress)="validateNumberInput($event)" class="form-control" id="cthr1000" formControlName="cthr1000" [ngClass]="{ 'is-invalid': editCTCuringForm.get('cthr1000').invalid && editCTCuringForm.get('cthr1000').touched }" />
                      <div *ngIf="editCTCuringForm.get('cthr1000').invalid && editCTCuringForm.get('cthr1000').touched" class="invalid-feedback">CT HR 1000 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="whnormalshift1">WH Normal Shift 1</h6>
                      <input [(ngModel)]="edtCTCuringObject.wh_NORMAL_SHIFT_0" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="whnormalshift1" formControlName="whnormalshift1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whnormalshift1').invalid && editCTCuringForm.get('whnormalshift1').touched }" />
                      <div *ngIf="editCTCuringForm.get('whnormalshift1').invalid && editCTCuringForm.get('whnormalshift1').touched" class="invalid-feedback">WH Normal Shift 1 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="whnormalshift2">WH Normal Shift 2</h6>
                      <input [(ngModel)]="edtCTCuringObject.wh_NORMAL_SHIFT_1" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="whnormalshift2" formControlName="whnormalshift2" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whnormalshift2').invalid && editCTCuringForm.get('whnormalshift2').touched }" />
                      <div *ngIf="editCTCuringForm.get('whnormalshift2').invalid && editCTCuringForm.get('whnormalshift2').touched" class="invalid-feedback">WH Normal Shift 3 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="whnormalshift3">WH Normal Shift 3</h6>
                      <input [(ngModel)]="edtCTCuringObject.wh_NORMAL_SHIFT_2" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="whnormalshift3" formControlName="whnormalshift3" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whnormalshift3').invalid && editCTCuringForm.get('whnormalshift3').touched }" />
                      <div *ngIf="editCTCuringForm.get('whnormalshift3').invalid && editCTCuringForm.get('whnormalshift3').touched" class="invalid-feedback">WH Normal Shift 3 is required.</div>
                    </div>
                  </div>

                  <div class="mx-3">
                    <div class="form-group">
                      <h6 for="whshiftfriday">WH Shift Friday</h6>
                      <input [(ngModel)]="edtCTCuringObject.wh_SHIFT_FRIDAY" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="whshiftfriday" formControlName="whshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whshiftfriday').invalid && editCTCuringForm.get('whshiftfriday').touched }" />
                      <div *ngIf="editCTCuringForm.get('whshiftfriday').invalid && editCTCuringForm.get('whshiftfriday').touched" class="invalid-feedback">WH Shift Friday is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="whtotalnormalshift">WH Total Normal Shift</h6>
                      <input [(ngModel)]="edtCTCuringObject.wh_TOTAL_NORMAL_SHIFT" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="whtotalnormalshift" formControlName="whtotalnormalshift" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whtotalnormalshift').invalid && editCTCuringForm.get('whtotalnormalshift').touched }" />
                      <div *ngIf="editCTCuringForm.get('whtotalnormalshift').invalid && editCTCuringForm.get('whtotalnormalshift').touched" class="invalid-feedback">WH Total Normal Shift is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="whtotalshiftfriday">WH Total Shift Friday</h6>
                      <input [(ngModel)]="edtCTCuringObject.wh_TOTAL_SHIFT_FRIDAY" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="whtotalshiftfriday" formControlName="whtotalshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('whtotalshiftfriday').invalid && editCTCuringForm.get('whtotalshiftfriday').touched }" />
                      <div *ngIf="editCTCuringForm.get('whtotalshiftfriday').invalid && editCTCuringForm.get('whtotalshiftfriday').touched" class="invalid-feedback">WH Total Shift Friday is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="allownormalshift1">Allow Normal Shift 1</h6>
                      <input [(ngModel)]="edtCTCuringObject.allow_NORMAL_SHIFT_0" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="allownormalshift1" formControlName="allownormalshift1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('allownormalshift1').invalid && editCTCuringForm.get('allownormalshift1').touched }" />
                      <div *ngIf="editCTCuringForm.get('allownormalshift1').invalid && editCTCuringForm.get('allownormalshift1').touched" class="invalid-feedback">Allow Normal Shift 1 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="allownormalshift2">Allow Normal Shift 2</h6>
                      <input [(ngModel)]="edtCTCuringObject.allow_NORMAL_SHIFT_1" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="allownormalshift2" formControlName="allownormalshift2" [ngClass]="{ 'is-invalid': editCTCuringForm.get('allownormalshift2').invalid && editCTCuringForm.get('allownormalshift2').touched }" />
                      <div *ngIf="editCTCuringForm.get('allownormalshift2').invalid && editCTCuringForm.get('allownormalshift2').touched" class="invalid-feedback">Allow Normal Shift 2 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="allownormalshift3">Allow Normal Shift 3</h6>
                      <input [(ngModel)]="edtCTCuringObject.allow_NORMAL_SHIFT_2" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="allownormalshift3" formControlName="allownormalshift3" [ngClass]="{ 'is-invalid': editCTCuringForm.get('allownormalshift3').invalid && editCTCuringForm.get('allownormalshift3').touched }" />
                      <div *ngIf="editCTCuringForm.get('allownormalshift3').invalid && editCTCuringForm.get('allownormalshift3').touched" class="invalid-feedback">Allow Normal Shift 3 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="allowtotal">Allow Total</h6>
                      <input [(ngModel)]="edtCTCuringObject.allow_TOTAL" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="allowtotal" formControlName="allowtotal" [ngClass]="{ 'is-invalid': editCTCuringForm.get('allowtotal').invalid && editCTCuringForm.get('allowtotal').touched }" />
                      <div *ngIf="editCTCuringForm.get('allowtotal').invalid && editCTCuringForm.get('allowtotal').touched" class="invalid-feedback">Allow Total is required.</div>
                    </div>
                  </div>

                  <div class="mx-3">
                    <div class="form-group">
                      <h6 for="optimenormalshift2">OP Time Normal Shift 1</h6>
                      <input [(ngModel)]="edtCTCuringObject.op_TIME_NORMAL_SHIFT_0" maxlength="9" type="text" (keypress)="validateNumberInput($event)" class="form-control" id="optimenormalshift1" formControlName="optimenormalshift1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimenormalshift1').invalid && editCTCuringForm.get('optimenormalshift1').touched }" />
                      <div *ngIf="editCTCuringForm.get('optimenormalshift1').invalid && editCTCuringForm.get('optimenormalshift1').touched" class="invalid-feedback">OP Time Normal Shift 1 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="optimenormalshift2">OP Time Normal Shift 2</h6>
                      <input [(ngModel)]="edtCTCuringObject.op_TIME_NORMAL_SHIFT_1" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="optimenormalshift2" formControlName="optimenormalshift2" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimenormalshift2').invalid && editCTCuringForm.get('optimenormalshift2').touched }" />
                      <div *ngIf="editCTCuringForm.get('optimenormalshift2').invalid && editCTCuringForm.get('optimenormalshift2').touched" class="invalid-feedback">OP Time Normal Shift 2 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="optimenormalshift3">OP Time Normal Shift 3</h6>
                      <input [(ngModel)]="edtCTCuringObject.op_TIME_NORMAL_SHIFT_2" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="optimenormalshift3" formControlName="optimenormalshift3" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimenormalshift3').invalid && editCTCuringForm.get('optimenormalshift3').touched }" />
                      <div *ngIf="editCTCuringForm.get('optimenormalshift3').invalid && editCTCuringForm.get('optimenormalshift3').touched" class="invalid-feedback">OP Time Normal Shift 3 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="optimeshiftfriday">OP Time Shift Friday</h6>
                      <input [(ngModel)]="edtCTCuringObject.op_TIME_SHIFT_FRIDAY" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="optimeshiftfriday" formControlName="optimeshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimeshiftfriday').invalid && editCTCuringForm.get('optimeshiftfriday').touched }" />
                      <div *ngIf="editCTCuringForm.get('optimeshiftfriday').invalid && editCTCuringForm.get('optimeshiftfriday').touched" class="invalid-feedback">OP Time Shift Friday is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="optimenormalshift">OP Time Total Normal Shift</h6>
                      <input [(ngModel)]="edtCTCuringObject.op_TIME_NORMAL_SHIFT" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="optimenormalshift" formControlName="optimenormalshift" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimenormalshift').invalid && editCTCuringForm.get('optimenormalshift').touched }" />
                      <div *ngIf="editCTCuringForm.get('optimenormalshift').invalid && editCTCuringForm.get('optimenormalshift').touched" class="invalid-feedback">OP Time Total Normal Shift is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="optimetotalshiftfriday">OP Time Total Shift Friday</h6>
                      <input [(ngModel)]="edtCTCuringObject.op_TIME_TOTAL_SHIFT_FRIDAY" type="text" maxlength="9" [step]="0.0000000001" (keypress)="validateNumberInput($event)" class="form-control" id="optimetotalshiftfriday" formControlName="optimetotalshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('optimetotalshiftfriday').invalid && editCTCuringForm.get('optimetotalshiftfriday').touched }" />
                      <div *ngIf="editCTCuringForm.get('optimetotalshiftfriday').invalid && editCTCuringForm.get('optimetotalshiftfriday').touched" class="invalid-feedback">OP Time Total Shift Friday is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="kapsnormalshift1">Kaps Normal Shift 1</h6>
                      <input [(ngModel)]="edtCTCuringObject.kaps_NORMAL_SHIFT_0" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="kapsnormalshift1" formControlName="kapsnormalshift1" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapsnormalshift1').invalid && editCTCuringForm.get('kapsnormalshift1').touched }" />
                      <div *ngIf="editCTCuringForm.get('kapsnormalshift1').invalid && editCTCuringForm.get('kapsnormalshift1').touched" class="invalid-feedback">Kaps Normal Shift 1 is required.</div>
                    </div>
                  </div>

                  <div class="mx-3">
                    <div class="form-group">
                      <h6 for="kapsnormalshift2">Kaps Normal Shift 2</h6>
                      <input [(ngModel)]="edtCTCuringObject.kaps_NORMAL_SHIFT_1" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="kapsnormalshift2" formControlName="kapsnormalshift2" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapsnormalshift2').invalid && editCTCuringForm.get('kapsnormalshift2').touched }" />
                      <div *ngIf="editCTCuringForm.get('kapsnormalshift2').invalid && editCTCuringForm.get('kapsnormalshift2').touched" class="invalid-feedback">Kaps Normal Shift 2 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="kapsnormalshift3">Kaps Normal Shift 3</h6>
                      <input [(ngModel)]="edtCTCuringObject.kaps_NORMAL_SHIFT_2" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="kapsnormalshift3" formControlName="kapsnormalshift3" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapsnormalshift3').invalid && editCTCuringForm.get('kapsnormalshift3').touched }" />
                      <div *ngIf="editCTCuringForm.get('kapsnormalshift3').invalid && editCTCuringForm.get('kapsnormalshift3').touched" class="invalid-feedback">Kaps Normal Shift 3 is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="kapsshiftfriday">Kaps Shift Friday</h6>
                      <input [(ngModel)]="edtCTCuringObject.kaps_SHIFT_FRIDAY" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="kapsshiftfriday" formControlName="kapsshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapsshiftfriday').invalid && editCTCuringForm.get('kapsshiftfriday').touched }" />
                      <div *ngIf="editCTCuringForm.get('kapsshiftfriday').invalid && editCTCuringForm.get('kapsshiftfriday').touched" class="invalid-feedback">Kaps Shift Friday is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="kapstotalnormalshift">Kaps Total Normal Shift</h6>
                      <input [(ngModel)]="edtCTCuringObject.kaps_TOTAL_NORMAL_SHIFT" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="kapstotalnormalshift" formControlName="kapstotalnormalshift" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapstotalnormalshift').invalid && editCTCuringForm.get('kapstotalnormalshift').touched }" />
                      <div *ngIf="editCTCuringForm.get('kapstotalnormalshift').invalid && editCTCuringForm.get('kapstotalnormalshift').touched" class="invalid-feedback">Kaps Total Normal Shift is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="kapstotalshiftfriday">Kaps Total Shift Friday</h6>
                      <input [(ngModel)]="edtCTCuringObject.kaps_TOTAL_SHIFT_FRIDAY" maxlength="9" type="text" (keypress)="validateNumberInput($event)" class="form-control" id="kapstotalshiftfriday" formControlName="kapstotalshiftfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('kapstotalshiftfriday').invalid && editCTCuringForm.get('kapstotalshiftfriday').touched }" />
                      <div *ngIf="editCTCuringForm.get('kapstotalshiftfriday').invalid && editCTCuringForm.get('kapstotalshiftfriday').touched" class="invalid-feedback">Kaps Total Shift Friday is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="waktutotalctnormal">Time Total CT Normal</h6>
                      <input [(ngModel)]="edtCTCuringObject.waktu_TOTAL_CT_NORMAL" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="waktutotalctnormal" formControlName="waktutotalctnormal" [ngClass]="{ 'is-invalid': editCTCuringForm.get('waktutotalctnormal').invalid && editCTCuringForm.get('waktutotalctnormal').touched }" />
                      <div *ngIf="editCTCuringForm.get('waktutotalctnormal').invalid && editCTCuringForm.get('waktutotalctnormal').touched" class="invalid-feedback">Time Total CT Normal is required.</div>
                    </div>
                    <div class="form-group">
                      <h6 for="waktutotalctfriday">Time Total CT Friday</h6>
                      <input [(ngModel)]="edtCTCuringObject.waktu_TOTAL_CT_FRIDAY" type="text" maxlength="9" (keypress)="validateNumberInput($event)" class="form-control" id="waktutotalctfriday" formControlName="waktutotalctfriday" [ngClass]="{ 'is-invalid': editCTCuringForm.get('waktutotalctfriday').invalid && editCTCuringForm.get('waktutotalctfriday').touched }" />
                      <div *ngIf="editCTCuringForm.get('waktutotalctfriday').invalid && editCTCuringForm.get('waktutotalctfriday').touched" class="invalid-feedback">Time Total CT Friday is required.</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- Disable Update button if form is invalid -->
              <button type="button" class="btn btn-primary" [disabled]="editCTCuringForm.invalid" (click)="updateCTCuring()">Update CT Curing</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Upload Excel -->
      <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="uploadForm">
                <!-- Manual File Input -->
                <div class="form-group mt-3">
                  <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
