<div class="animated fadeIn">
  <!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h1 class="card-title mb-0">Workday</h1>
          <div class="small text-muted">{{ formattedYear }}</div>
        </div>
        <!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <mat-form-field>
            <mat-label>Pilih Tahun</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedYear" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" (yearSelected)="setYear($event)" panelClass="year-picker"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="chart-wrapper" style="height: 300px">
        <canvas baseChart [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [legend]="true" [chartType]="mainChartType"> </canvas>
      </div>
    </div>
  </div>
  <div class="card shadow-sm rounded mb-2">
    <div class="card-header bg-primary text-white">
      <h5 class="m-0"></h5>
    </div>
    <div class="card-body">
      <!-- Filter Bulan -->
      <div class="row mb-4">
        <div class="col-md-3 text-end">
          <label for="monthFilter" class="form-label">Month And Year</label>
          <input type="month" id="monthFilter" class="form-control" />
        </div>
        <div class="col-md-3 text-end">
          <label for="category" class="form-label">Category</label>
          <select id="category" class="form-control">
            <option value="">  FDR TT  </option>
          </select>
        </div>
      </div>
  
      <!-- Produk Dinamis (maksimal 3 produk per baris) -->
      <div class="row">
        <!-- Produk 1 -->
        <div class="col-md-4 mb-4" v-for="produk in produkList" :key="produk.id">
          <div class="card shadow-sm">
            <div class="card-header bg-info text-white">
              <h6 class="m-0 text-center">NAMA PRODUK</h6>
            </div>
            <div class="card-body">
              <div class="progress-group mb-3">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Planning</span>
                  <strong>230.003</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-primary" role="progressbar" :style="'width: ' + produk.planning + '%'" aria-valuenow="produk.planning" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress-group mb-3">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Order</span>
                  <strong>230.003</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" :style="'width: ' + produk.order + '%'" aria-valuenow="produk.order" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Persentase Kesesuaian</span>
                  <strong>100%</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" :style="'width: ' + produk.kesesuaian + '%'" aria-valuenow="produk.kesesuaian" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4" v-for="produk in produkList" :key="produk.id">
          <div class="card shadow-sm">
            <div class="card-header bg-info text-white">
              <h6 class="m-0 text-center">NAMA PRODUK</h6>
            </div>
            <div class="card-body">
              <div class="progress-group mb-3">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Planning</span>
                  <strong>230.003</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-primary" role="progressbar" :style="'width: ' + produk.planning + '%'" aria-valuenow="produk.planning" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress-group mb-3">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Order</span>
                  <strong>230.003</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" :style="'width: ' + produk.order + '%'" aria-valuenow="produk.order" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Persentase Kesesuaian</span>
                  <strong>100%</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" :style="'width: ' + produk.kesesuaian + '%'" aria-valuenow="produk.kesesuaian" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4" v-for="produk in produkList" :key="produk.id">
          <div class="card shadow-sm">
            <div class="card-header bg-info text-white">
              <h6 class="m-0 text-center">NAMA PRODUK</h6>
            </div>
            <div class="card-body">
              <div class="progress-group mb-3">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Planning</span>
                  <strong>230.003</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-primary" role="progressbar" :style="'width: ' + produk.planning + '%'" aria-valuenow="produk.planning" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress-group mb-3">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Order</span>
                  <strong>230.003</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" :style="'width: ' + produk.order + '%'" aria-valuenow="produk.order" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header d-flex justify-content-between">
                  <span>Persentase Kesesuaian</span>
                  <strong>100%</strong>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" :style="'width: ' + produk.kesesuaian + '%'" aria-valuenow="produk.kesesuaian" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Produk 2 -->
        <!-- Jika lebih banyak produk, tambahkan elemen produk lainnya dengan cara yang sama -->
      </div>
    </div>
  </div>
  

  <br />
</div>
