.table th {
    min-width: 200px;
    text-align: center;
    align-items: center;
}

.angka{
    text-align: right;
}

.huruf {
    text-align: left;
}
::ng-deep .mat-sort-header-container {
    justify-content: center;
}