<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong><i class="fa fa-bars"></i>&nbsp;Master Data Building Distance</strong>
    </div>

    <div class="card-body">
      <!-- Wrapper for the input and buttons in one row -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="form-control col-md-12 col-lg-12" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Find here..." />
          <button type="submit" class="btn btn-primary ml-2" (click)="resetSearch()">Reset</button>
        </div>

        <!-- Right side: Download Template and Export Excel buttons -->
        <div>
          <button type="button" class="btn btn-primary ml-2" (click)="tamplateExcel()"><i class="fa fa-download fa-lg"></i> Download Template</button>
          <button type="button" class="btn btn-primary ml-2" (click)="downloadExcel()" [disabled]="isDataEmpty"><i class="fa fa-download fa-lg"></i> Export Excel</button>
          <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-file-excel-o fa-lg"></i> Upload Excel</button>
        </div>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-sm">
          <!-- No Column -->
          <ng-container matColumnDef="no">
            <th *matHeaderCellDef style="min-width: 50px">No</th>
            <td *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Building 1 Column -->
          <ng-container matColumnDef="building_ID_1">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Building 1</th>
            <td align="left" *matCellDef="let element">{{ element.building_1 }}</td>
          </ng-container>

          <!-- Building 2 Column -->
          <ng-container matColumnDef="building_ID_2">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Building 2</th>
            <td align="left" *matCellDef="let element">{{ element.building_2 }}</td>
          </ng-container>

          <!-- Distance Column -->
          <ng-container matColumnDef="distance">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Distance</th>
            <td align="right" *matCellDef="let element">{{ element.distance }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef style="min-width: 100px" mat-sort-header>Status</th>
            <td *matCellDef="let element" [ngClass]="{ 'bg-success': element.status === 1, 'bg-danger': element.status !== 1 }">
              {{ element.status === 1 ? 'Active' : 'Deactive' }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef style="min-width: 100px">Action</th>
            <td *matCellDef="let element" align="center">
              <button type="button" class="btn btn-md btn-secondary" (click)="openModalEdit(element.id_B_DISTANCE)">Update</button>
              <button type="button" class="btn btn-md ml-2" [ngClass]="{ 'btn-danger': element.status === 1, 'btn-success': element.status !== 1 }" (click)="element.status === 1 ? deleteData(element) : activateData(element)">
                {{ element.status === 1 ? 'Delete' : 'Active' }}
              </button>
            </td>
          </ng-container>

          <!-- Add header and row declarations -->
          <tr align="center" style="height: 20px" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr align="center" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <!-- Pagination -->
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <!-- Modal edit -->
      <div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addModalLabel">Edit Building Distance</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Form with Reactive Forms -->
              <form [formGroup]="editBDistanceForm">
                <div class="form-group">
                  <h6 for="building1">Building 1</h6>
                  <div class="col-md-13">
                    <ng-select2 id="building1" name="building1" formControlName="building1" [(ngModel)]="edtBDistanceObject.building_ID_1" [data]="uomOptionData" [options]="options"> </ng-select2>
                  </div>
                </div>
                <div class="form-group">
                  <h6 for="building2">Building 2</h6>
                  <div class="col-md-13">
                    <ng-select2 id="building2" name="building2" formControlName="building2" [(ngModel)]="edtBDistanceObject.building_ID_2" [data]="uomOptionData" [options]="options"> </ng-select2>
                  </div>
                </div>
                <div class="form-group">
                  <h6 for="distance">Distance</h6>
                  <input [(ngModel)]="edtBDistanceObject.distance" type="text" (keypress)="validateNumberInput($event)" maxlength="22" class="form-control" id="distance" formControlName="distance" [ngClass]="{ 'is-invalid': editBDistanceForm.get('distance').invalid && editBDistanceForm.get('distance').touched }" />
                  <div *ngIf="editBDistanceForm.get('distance').invalid && editBDistanceForm.get('distance').touched" class="invalid-feedback">Distance Value is required.</div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- Disable Update button if form is invalid -->
              <button type="button" class="btn btn-primary" [disabled]="editBDistanceForm.invalid" (click)="updateBuildingDistance()">Update Building Distance</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Upload Excel -->
      <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="uploadForm">
                <!-- Manual File Input -->
                <div class="form-group mt-3">
                  <input type="file" class="form-control-file" id="manualFileInput" accept=".xls,.xlsx" (change)="onFileChange($event)" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-md btn-primary" id="uploadButton" (click)="uploadFileExcel()">Upload</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
